[2017-11-17 00:06] jamesr66a opened #3 "Super-resolution network produces incorrect results"
Hey folks,

I'm writing up a tutorial for importing an ONNX graph to TF using this library. I'm using a super-resolution network as an example. Here's my draft of the tutorial: https://gist.github.com/jamesr66a/7c2c18e1479d086d28f92217975111ec

Unfortunately, when I run the Tensorflow imported network, I get a bizarre image result:

Before
![image](https://user-images.githubusercontent.com/4685384

[2017-11-17 01:35] tjingrant commented on #3
Hi @jamesr66a we will take a look at your code shortly.

In the mean time, if you are curious, you can actually see where it went wrong (this is what we will be doing anyways) by modifying and running this script here: https://github.com/onnx/onnx-tensorflow/blob/master/test/test_model_large_stepping.py .

This script compares the results of tf backend with caffe2 backend op by op. It is very usef

[2017-11-17 16:27] tjingrant commented on #3
@jamesr66a we took a look at your model. First of all, thanks for writing up this interesting tutorial!

Secondly, your onnx model definition says that your input 1 is type FLOAT but you are actually passing an array of UINT8. So that's problematic in the first place.

Thirdly, after we type-casted your input to be float, we stepped your model with Caffe2 backend (our master build vs caffe2 backen

[2017-11-17 16:45] tjingrant commented on #3
FYI, this is from caffe2 backend after type-casting your input to float.
![super_res_output](https://user-images.githubusercontent.com/6410074/32958504-bcbbdbf6-cb8c-11e7-8612-5f2b89046e6b.jpg)

[2017-11-17 21:50] jamesr66a commented on #3
@tjingrant Thanks so much for looking into this! The problem was indeed related to types, namely in how the network result `big_doggy` needed to be casted back to uint8 before being fed into `Image.fromarray`. I've fixed the issue and now I think the tutorial is ready to go live! :)

[2017-11-17 21:59] jamesr66a commented on #3
We're live! https://github.com/onnx/tutorials/blob/master/tutorials/OnnxTensorflowImport.ipynb

[2017-11-17 21:59] #3 closed

[2017-11-24 03:34] kitstar opened #13 "About the 'axis' transformation"
Hi guys,

I have a question about the axis transformation. In ONNX, the main dataflow is "channel_first", but in support_cuda = false case, tensorflow main dataflow is "channel_last", which means the 'axis' in 'Argmax', 'Argmin', 'Concat' ...  needs to be transformed, like "1" --> "3". But I can't find related transformation in code. Do I miss anything?

And the transformation is not needed in NLP

[2017-11-24 16:02] tjingrant commented on #13
Hi, if I remember correctly, we follow the "channel_first", or in other words, `NCHW` data format throughout. Whenever a data format transformation has to be done because a GPU is not available, we transpose it inside a node and hide this transposition from the user. Thus the tensors coming in and out of a ONNX node always appear to be in `NCHW` format from users' prospective even when the computa

[2017-11-24 16:09] tjingrant commented on #13
To illustrate this in context, here's the code we use inside pooling. Pooling is done in `NHWC` format on CPU. Here's the code we use to perform pooling in `NHWC` format. Notice that the input has `NCHW` format:
[code]
Notice that two transpositions are present before and after pooling (that are the inverse of each other). Thus the data coming in and out of the ONNX Pooling Op are always in `NCHW`

[2017-11-25 09:25] kitstar commented on #13
Hi Tian,

Got it. Tried same way. Seems we can try to remove unnecessary transpose between pooling conv and so on.

Thanks.
Kit

[2017-11-25 14:35] fmassa commented on #13
Note that native NCHW format is not widely supported in TensorFlow, so I believe we need those transposed if we want the code to run on the CPU.  But a flag could be included that sets to use NCHW operations if enabled.

[2017-11-25 16:34] tjingrant commented on #13
@fmassa, this is indeed a tricky problem. Would you be interested in creating this "data format" flag?

Also @kitstar, I believe when XLA is enabled (not sure about the general case), unnecessary transposition (consecutive transpositions that are inverse of each other) is automatically eliminated through transposition folding.

[2017-12-01 06:26] #13 closed

[2017-12-02 23:13] dzhulgakov opened #17 "Updates necessary for newly added test cases"
We're shooting for ONNX v1 announcement at NIPS next week and thus it'd be awesome to make sure that all tests are passing with the latest ONNX master.

We added a few backend test cases upstream in ONNX (by exporting some of the PyTorch's tests) and some of them are not passing the tests in TF converter. Those tests do pass Caffe2 backend but they might still contain deviations from the spec. If

[2017-12-02 23:16] dzhulgakov opened #18 "Cut a release matching onnx-v1"
We're shooting for ONNX v1 announcement at NIPS next week and it makes sense to produce matching artifacts to PyPI. The branch is at https://github.com/onnx/onnx/tree/rel-1.0 and even though some secondary tests are failing (#17) the original set of model tests does pass.

This is just a heads up. Would you be able to help cut the release early next week (by Dec 5th).

[2017-12-02 23:18] tjingrant commented on #17
Hi @dzhulgakov, thanks for the heads-up.
Yep, we are aware of the NIPS event and will definitely try our best to make sure they pass the tests.

[2017-12-02 23:21] tjingrant commented on #18
Yes, of course.

[2017-12-05 01:34] tjingrant commented on #17
Please take a look at this updated backend test file: https://github.com/onnx/onnx-tensorflow/blob/4b04a94bca9a893fa69c7fc1967782218c2a8760/test/backend/onnx_backend_test.py

Reasons of exclusion are commented right near the exclusion.

[2017-12-05 17:08] tjingrant commented on #18
Just updated our PyPi package.

[2017-12-06 09:52] akurniawan opened #20 "undefined symbol: _ZNK6google8protobuf7Message13SpaceUsedLongEv"
Hi guys, I got this error while importing onnx_tf.backend. It has been mentioned before at [onnx-caffe2#19](https://github.com/onnx/onnx-caffe2/issues/19), but it seems the problem is still there. I have tried to install and uninstall my protobuf, but still no luck. Do you guys have any advice?

[2017-12-06 13:36] akurniawan commented on #20
solved by fresh-install everything from scratch in docker container. sorry for the trouble

[2017-12-06 13:36] #20 closed

[2017-12-06 13:43] akurniawan opened #21 "Wrong dimension from pytorch ResNet architecture"
After exporting the model through onnx from pytorch, I try to load it using onnx-tensorflow. However, this error occured

This isn't happened in onnx-caffe2.
Below are the way I loaded it

The same code works fine in onnx-caffe2

Am I missing something? Or some of the operators hasn't supported yet?
You can see the resnet code from here https://github.com/pytorch/vision/blob/v0.1.9/torchvision/mod

[2017-12-06 15:32] tjingrant commented on #21
We don't have torch installed anywhere we can easily access. Any chance you can post that model.pb somewhere? If not, try sending it to me through the email address in my profile.

[2017-12-06 17:49] fmassa commented on #21
I think this is an issue with subtle differences in how the sizes of the output operations are handled in TF. In your case, you result just before the linear layer is a 2x2 feature map, instead of a 1x1 feature map.
I didn't look closely, but @akurniawan can you check the input size just before the last `average_pool` layer? It should be 7x7, and if it is indeed 7x7, then the problem might be in t

[2017-12-06 22:48] akurniawan commented on #21
@tjingrant yes, I can give you the dummy proto one. please find the file on [this](https://drive.google.com/file/d/1Oc5yhypr1US2GuPBx_yYX5eWgJ6KKJtR/view?usp=sharing) link

@fmassa after layer4 in resnet, I found the input size as `torch.Size([1, 2048, 7, 7])`

[2017-12-07 09:00] fmassa commented on #21
@akurniawan thanks! So it looks like the problem is indeed with the average pooling layer. @tjingrant I believe the ONNX serialized model of resent contains a global average pooling layer, which would explain why it passed and the one exported by pytorch (which is an averagepool) doesn't

[2017-12-07 10:50] LucasMahieu opened #22 "Frontend support"
Hi,
I just would know if you plan to develop more complete Frontend of TF (TF -> ONNX) ?
With some tests and examples.

[2017-12-07 14:21] akurniawan commented on #21
@fmassa, @tjingrant I can confirm by doing some hacking (replacing global_pool value to True at [this](https://github.com/onnx/onnx-tensorflow/blob/master/onnx_tf/backend.py#L578) line, I can create my model now in tf.

After doing some debugging, the global_pool value was set to False when the value of spatial_dim and kernel_shape are equal, in this case 7

[2017-12-07 15:39] tjingrant commented on #22
Yes, of course. We are actively working on the frontend, but now the frontend is only preliminary thus we did not mention it in our documentation. Support for new ops are being added every week. Soon we plan to support most vision-based DL models.

[2017-12-07 16:28] LucasMahieu commented on #22
Really thanks for your quick reply.
Would you be interested to get helped to improve the frontend ?

[2017-12-07 16:33] tjingrant commented on #22
Absolutely. PRs are always welcome, but if you are working on something big, please let us know in advance what you'll be working on to avoid conflicts.

[2017-12-07 18:35] tjingrant commented on #21
@akurniawan the model exported is most likely to be wrong.

To answer your question, when spatial_dim == kernel_shape and pads are all zero, it doesn't matter if you use global avg pool or just simple avg pool, the result should be the same.

Now look at the model you have, specifically the pooling node:
[code]
You have 2 spatial dims yet only 2 pad values. What you need is [0, 0, 0, 0] instead of

[2017-12-07 18:41] fmassa commented on #21
Ah, good, this has been fixed recently in https://github.com/pytorch/pytorch/pull/4004
So that should be fixed if you reinstall pytorch from source.

[2017-12-07 22:12] akurniawan commented on #21
ah thanks for the explanation @tjingrant !
btw @fmassa, do I need to retrain my net for the fix? since I also see the pad is being changed in _thnn backend

[2017-12-08 04:38] fmassa commented on #21
You can manually modify the padding of the average pooling layer so that it is a 4-element list. If you have the model saves in pytorch format, you can just reload it and re-export to ONNX.
Let me know if you need help with the ONNX graph modification

[2017-12-08 04:49] akurniawan commented on #21
Sorry for not being clear. What I meant is that, I have the model saved in pytorch format, and if I can just re-export it then that’s fantastic. My question, however, more to the performance of the model. Since the changes is also made to the pytorch backend, which means my model was trained with the wrong size (because I trained it with pytorch v0.3 and it hasn’t included the fix)

[2017-12-08 05:01] fmassa commented on #21
The pytorch saved model is fine, the bug was in the ONNX conversion, so you should only export it again and it should work

[2017-12-08 05:02] akurniawan commented on #21
Ah nice! I will try to export the model today and will let you guys know. Thanks!

[2017-12-08 13:29] akurniawan commented on #21
Just want to confirm that now I can export the model to tf! Thanks for the help guys! Now we can close this issue

[2017-12-08 13:29] #21 closed

[2017-12-08 15:12] LucasMahieu commented on #22
@tjingrant I let you an email on your private mail address to have more information about the frontend project.

[2017-12-11 23:11] akurniawan opened #24 "Reshape Input for Dynamic Batch Size"
Hey guys, as I have written on [this](https://github.com/onnx/onnx-caffe2/issues/70) issue before, is there any way we can modify the input shape so that it can be more dynamic? Not only the batch_size though, if we use RNN for example, we might want to keep the length size dynamic as well

[2017-12-12 09:23] LucasMahieu commented on #22
@tjingrant I think we should implement the convolution and polling ops in order to be able to process entire networks like GoogLeNet. What do you think bout that ?

[2017-12-12 19:33] tjingrant commented on #22
Conv and Pooling sound like the perfect thing to do!

As for your question regarding tf.Variable, take a look here: https://www.tensorflow.org/extend/tool_developers/#freezing.

As a starter, I think we can require user to freeze the graph and get rid of the variables before exporting to ONNX .

[2017-12-12 22:43] tjingrant commented on #24
This might be a problem for the ONNX Spec repository. Specifically, whether it is possible to specify dimension of unknown size. There seems to be a somewhat related discussion regarding the RNN feature you requested (https://github.com/onnx/onnx/issues/140).

[2017-12-13 08:56] LucasMahieu commented on #22
Ok, so I will try to find time to implement the Pooling (max and avg) , could you implement the conv2d ?

The freezing is exactly what we need, I will look to it more precisely how it works.

If I understood correctly, freezing the graph removes all variables and replaces them by constants. So the user will just have to call the freezing script.

[2017-12-13 11:03] LucasMahieu commented on #22
I wrote a random generator of unit tests.
It generate tests like the "unit.py" at the end of this message.
It seems to work well.
You just have to run `python unit.py` and the deploy.frozen.pb will be generated.

So, to resume, the final user must add in his tensorflow model script:
[code]
and the onnx front-end will takes as input the : deploy.frozen.pb
Is it rights ?

This is the unit.py:
----
[

[2017-12-13 12:39] LucasMahieu commented on #22
Please, note that in this unit tests, it also writes on disk the input and output to be saved into onnx format

[2017-12-13 23:13] LucasMahieu opened #25 "[Front-end] Concat tf to onnx"
Hi,
I trying to implement concat op from TF to ONNX graph.
I am facing a "big" problem because TF concat API is : `tf.concat([T0, T1, ...], axis)`
and axis is considered as an input.

But TF do not puts the value of inputs in the tf graph.
So it is not possible to get the axis value in order to put it into the axis attr of onnx graph...

Did you ever faced this king of issue ?
Does someone have so

[2017-12-13 23:26] tjingrant commented on #25
Yes we have seen that before. This is basically handled here: https://github.com/onnx/onnx-tensorflow/blob/ca5c120d12282f11152ebc3ef29141f369953f66/onnx_tf/frontend.py#L117.

We require axis to be a constant tensor and access its value by name through the consts variable in the handler. Take a look at how pad op is implemented here https://github.com/onnx/onnx-tensorflow/blob/ca5c120d12282f11152eb

[2017-12-14 12:27] LucasMahieu commented on #25
It a great idea.
I will make this pull request soon.

Thanks

[2017-12-14 12:27] #25 closed

[2017-12-14 12:31] LucasMahieu opened #26 "[Front-End] How to deals with data_format : 'NHWC' (tf) vs. 'NCHW' (onnx)"
I would like to have idea from the community to implement the conversion from tensorflow data_format 'NHWC' to onnx data_format 'NCHW'.

Should we have to add an op node of type transpose ?
If yes, the classmethod handler_name seems to not be very adapted to add 2 nodes into the "ops_proto" list ...

[2017-12-14 12:50] kindlychung opened #27 "No test discovered?"
[code]

[2017-12-14 13:00] LucasMahieu commented on #27
did you try to go into test directory then run `python -m unittest discover test`

[2017-12-14 13:29] LucasMahieu commented on #26
After having thought, I think it is just attr that need to be re ordered.
Can be closed

[2017-12-14 15:00] LucasMahieu opened #28 "Issue in test_node of front-end"
Hi,
I think that there is a bad thing appending with test_node of the front-end.

In ONNX, inputs and ops are thought to be in order : 'NCHW'

But in Tensorflow, data are often in order 'NHWC'. (for some tf operations, only 'NHWC' is supported, and for other operations is it impossible to know the data_format (Placeholers for example)).
So, we can imagine to require that user puts all his tensorfl

[2017-12-14 16:14] tjingrant commented on #28
You can simply insert transpositions. Check here https://github.com/onnx/onnx-tensorflow/blob/ca5c120d12282f11152ebc3ef29141f369953f66/onnx_tf/backend.py#L537 to see an example of how we dealt with this in our backend.

[2017-12-14 16:17] tjingrant commented on #26
Yes. It seems to be that you could modify the return ops to be a list of ops instead of one single op...

[2017-12-14 16:29] LucasMahieu opened #29 "With adding [1] to kernel and stride in the backend pooling handler"
Hi,
I really don't understand this lines :

[code]

Why [1] is added in both side of kernel shape and strides ?
I had to remove these [1] to make it working

[2017-12-14 16:33] tjingrant commented on #29
This is because in ONNX, kernel_shape and strides are specified for spatial dimensions only. For instance, a stride of [1, 1] means stride one, one in the H, W dimension. We have to tell tensorflow how to stride in the N, C dimension, thus the two [1]'s before and after. Documentation here: https://www.tensorflow.org/api_docs/python/tf/nn/max_pool.

[2017-12-14 20:01] LucasMahieu commented on #29
From where you get this information ?
It is sais in ops doc that stride/kernel is "list of ints" one for each axes.

I think it is really unclear ...

[2017-12-14 20:04] tjingrant commented on #29
Hi, I agree it is unclear. When developing the backend, we have to do a lot of guess work and verify it against the models here: https://github.com/onnx/models.

[2017-12-14 23:15] lukemurray opened #30 "saving to TF model"
Not really an issue sorry. But I was wondering if it would be possible to use this to load an onnx model and save it with TF as the TF .meta format (`export_meta_graph`)?

I gave it a quick try, but it seems it does set up the default TF graph.

Thanks

[2017-12-14 23:38] lukemurray commented on #30
OK this appears to work.

here is some code for others that may want to do this. `onnx_tf.backend.prepare` was the key

[code]

[2017-12-14 23:38] #30 closed

[2017-12-15 02:46] lukemurray opened #31 "Force NCHW format"
Hi there, this seems to add a bunch of transpose ops into the graph, can we force it to build the graph in NCHW format?

[2017-12-15 04:46] tjingrant commented on #31
Are you building your graph on a CPU? Transpositions only occur when NHWC format is needed for computation (typically when you have no GPU). Fundamentally if you only have CPUs, there's no way you can execute that graph because TF does not have full support for NCHW format on CPU. (Although you may still want to build the graph that way despite the fact that you cannot run it, but I suspect this i

[2017-12-15 06:12] lukemurray commented on #31
I guess I want a typical tf model format actually. It is going into another third-party tool that doesn't currently support the transposes. I'm changing it so it transposes the raw data and therefore creates a cleaner tf graph without any transforms. Which this third-party tool will support.

Any reason you didn't implement it that way? I guess in general transpose is not expensive.

_____________

[2017-12-15 06:21] tjingrant commented on #31
This is because we assume that the user will run the graph in the same machine as he/she converts the graph, which is the case for us, but may not be the case for others. We may support exporting GPU-compatible models on a CPU-only machine in the future. I'll take note and see what I can do.

[2017-12-15 06:23] LucasMahieu commented on #26
That is what i was trying to implmement.
But in that case, if we convert a tf graph into onnx (with this method) then convert back in tf, we will get 2 transposes before and after each max pool. The two transposes will be the strict oposite of each others...

The perfect front end + back end would get back the same tf graph that the initial.

-------------------------
Lucas MAHIEU
Lucas.mahieu@icl

[2017-12-15 06:24] lukemurray commented on #31
Yep, that makes sense. I think I can get this working for my case. But I would say the changes are nice enough for a PR 😁

________________________________
From: Tian Jin <notifications@github.com>
Sent: Friday, December 15, 2017 5:21:52 PM
To: onnx/onnx-tensorflow
Cc: Luke Murray; Author
Subject: Re: [onnx/onnx-tensorflow] Force NCHW format (#31)

This is because we assume that the user will run

[2017-12-15 06:26] lukemurray commented on #31
Actually if I understand you correctly. I can load the onnx model and save the tf model on a computer with cuda and there will be no transforms in the tf graph?

________________________________
From: Luke Murray <lukemurray@gmail.com>
Sent: Friday, December 15, 2017 5:24:28 PM
To: onnx/onnx-tensorflow; onnx/onnx-tensorflow
Cc: Author
Subject: Re: [onnx/onnx-tensorflow] Force NCHW format (#31)

Ye

[2017-12-15 06:37] tjingrant commented on #31
Yes, we basically ask TF whether there's a CUDA device and if there's not, we perform transpositions. The condition is checked here:
https://github.com/onnx/onnx-tensorflow/blob/ca5c120d12282f11152ebc3ef29141f369953f66/onnx_tf/backend.py#L990

And the decision to prepend/append transpositions to an op is made in every op that concerns data format, for instance, the pooling op has the following log

[2017-12-15 06:42] tjingrant commented on #26
Indeed I resonate strongly with your feeling about the "perfect front end + back end". One thing we can do is to extend the model converter to have optimization passes. In such passes we can implement transposition folding algorithm that looks for consecutive transpositions that are inverses of each other and eliminate them (or compose consecutive transpositions and then eliminate the identity tra

[2017-12-15 06:55] LucasMahieu commented on #26
Perfect, it was exactly what i Wanted to propose you.

-------------------------
Lucas MAHIEU
Lucas.mahieu@icloud.com

[2017-12-15 09:45] LucasMahieu commented on #28
Do you agree that the input of the onnx graph is the transpose of the tf graph if working in CPU ?

[2017-12-15 14:32] LucasMahieu commented on #31
I have though a lot about this problem. Here is a proposal of how I think things have to be done to be optimal.

I will give an example to explain my idea:
I suggest that the user have the choice of two things:

    - The device on which he wants to run the TF graph
          (the source graph for front-end or the destination graph for back-end) (GPU or CPU)
    - The data format that he will put

[2017-12-15 15:00] LucasMahieu commented on #22
please, note this comment that could help the front end development : https://github.com/onnx/onnx-tensorflow/issues/31#issuecomment-352019711

[2017-12-17 11:59] LucasMahieu commented on #26
Related post : https://github.com/onnx/onnx-tensorflow/issues/31#issuecomment-352019711

[2017-12-17 20:03] #29 closed

[2017-12-17 20:08] tjingrant commented on #27
The documentation about tests are unfortunately outdated since we re-organized our tests. For now, please c.f. our CI script and here's the relevant part:
https://github.com/onnx/onnx-tensorflow/blob/ca5c120d12282f11152ebc3ef29141f369953f66/.travis/build.sh#L12

[2017-12-17 20:08] #27 closed

[2017-12-17 20:09] #18 closed

[2017-12-17 20:09] #17 closed

[2017-12-17 23:03] tjingrant commented on #28
Hi, yes I agree.

Can you paste a reference to the specific test that you think is problematic?

[2017-12-17 23:10] tjingrant commented on #31
@LucasMahieu are you suggesting that the user can specify a **default** data format for the entire graph? Or just a data format for the **input** for the entire graph (and thus after the first op, we then default to NCHW)?

[2017-12-18 01:31] lukemurray commented on #31
Can you use NCHW the whole way through the graph?

TF gives this error on a MaxPool

It seems NHWC works through the whole graph in TF.

I think allowing to export without the in-place transposes would be good. Well it would certainly suit me, and it removes operations from the graph if you are running it heavily.

[2017-12-18 07:50] LucasMahieu commented on #28
In fact all tests are implicated ... but solving https://github.com/onnx/onnx-tensorflow/issues/31#issuecomment-352019711 will solve the problem.

[2017-12-18 07:56] LucasMahieu commented on #31
@lukemurray You are right, it is exactly the problem. Please look at the "*note 1 and 2" of the https://github.com/onnx/onnx-tensorflow/issues/31#issuecomment-352019711. It is exactly the case you are talking about.

I really think that exporting a tf graph to ONNX then exporting back to tf should give EXACTLY the same tf graph. Without any additional transpose, etc.

[2017-12-18 08:13] LucasMahieu commented on #31
Please look at https://github.com/onnx/onnx/issues/369#
This should be really interesting for us. Please, help to convince onnx community to support data format natively.

This should solve all our issues about data format conversion.

[2017-12-18 08:30] LucasMahieu commented on #28
I think this the issue :
https://github.com/onnx/onnx-tensorflow/blob/c1fc643cab821ae6800ab32e48e2c892478ac338/test/frontend/test_node.py#L56

This line gives to the back end to input as is. Even if the input is 'NHWC' whereas ONNX should always gives feed dict to the back end to the form 'NCHW'.
am I right ?

[2017-12-18 09:05] LucasMahieu commented on #31
@tjingrant I am suggesting that the user can specify a default data format for the entire graph.
So, for all operation like 'concat', the converter has just to look at the data format of the graph that the user had specified, and to the device the used specified too. According to this 2 variables, the converter can output the right thing. see my two table for the output to produce by the converter

[2017-12-18 19:39] tjingrant commented on #28
To be fair, there has not been a test that requires special treatment regarding data formats. And yes you are right, going forward, we'd need to have some ways of detecting what data format to use.

[2017-12-18 20:09] LucasMahieu commented on #28
You are right. Tomorow i will push the modification about all these issues of data format that implements my proposal made on other issue last week.

[2017-12-29 04:36] lukemurray commented on #31
This is weird. I have changed the code so that that the TF graph never does in-graph transpose, it assumes the data coming in the input is `NHWC` and I transpose the weights before creating the `tf.constant`s.

Problem is, the graph produces completely different results. I'm been through it a million times. But I must be missing something.

Even if I keep the in-graph transposes but pre-transpose

[2017-12-29 06:27] muyueyue opened #38 "How to import ONNX file to Tensorflow Serving"
Hello everyone!

Now，I use pytorch to write a mnist and exports the model as a .proto file via ONNX. How can I import this .proto file into Tensorflow Serving and use Tensorflow Serving provide service.

Hope friends know how to solve this problem. Thank you!

[2018-01-04 14:20] LucasMahieu opened #40 "Why is there reference to caffe2 into the backend of onnx-tf ?"
As we can see in these link, some stuff are made in reference to caffe2 :
https://github.com/onnx/onnx-tensorflow/blob/master/onnx_tf/backend.py#L97
or
https://github.com/onnx/onnx-tensorflow/blob/master/onnx_tf/backend.py#L88

My question is why onnx-tf is related to caffe2 ?

It seems to be due to copy-paste from the onnx-caffe2 backend

[2018-01-04 15:22] tjingrant commented on #40
Hi, I copied this verbatim from onnx-caffe2 backend. I did not bother changing simply b/c this whole class, as per comment, will be moved to the ONNX main repo anyways.

[2018-01-04 15:27] LucasMahieu commented on #40
Ok, it is what I thought.
Thanks for the reply

Maybe we could ask to add this to onnx main repo ?

[2018-01-04 15:41] tjingrant commented on #40
Yes, for sure, if they haven't already done so.

[2018-01-04 15:45] #40 closed

[2018-01-05 02:11] muyueyue opened #41 "What can onnx-tensorflow be used to do"
Hi, what can onnx-tensorflow be used to do?

[2018-01-05 03:10] tjingrant commented on #41
Hi, this looks like a very generic question, but mostly people use this to run models exported from other deep learning libraries in ONNX format. Conversely, you can also use this to export models defined in tensorflow to ONNX format and thus run it in other deep learning libraries.

A good place for related resources is the ONNX tutorial repo here: https://github.com/onnx/tutorials/blob/master/tu

[2018-01-05 05:49] muyueyue commented on #41
@tjingrant Thank you for your reply. Can this be used in the production environment?

[2018-01-05 09:36] LucasMahieu opened #42 "[TODO list] All things we have to add/improve"
- [ ] Add the simple split op (not the split_v) which permits to split a tensor in 'n' parts along 'axis'.
- [ ] Support the front-end test case : squeeze(input) with intput.shape = [1,1,1,1] (in that case, shape is not defined into the TF graph for the output node.
- [ ] Improve Front-end test coverage (more cases)
- [ ] Improve Back-end test coverage (more cases)
- [ ] Add front end support for

[2018-01-05 15:49] tjingrant commented on #41
@muyueyue for sure, this is not a pet project and I believe both us here and people in the ONNX spec repo are committed for supporting this project for the foreseeable future.

[2018-01-09 02:08] tjingrant commented on #42
Since this is a community to-do list, I'll edit to add my task here as well!

[2018-01-10 09:29] LucasMahieu commented on #31
Need to modify the proposal according to thins : https://github.com/onnx/onnx-tensorflow/pull/43

[2018-01-16 02:43] tjingrant commented on #31
@LucasMahieu so basically they decided that we keep our transpositions, but instead their graph optimizers are going to take the redundant transpositions away. I do not think this is a good idea tho... IBM Research people are in contact with the ONNX people off Github and will let you know if anything meaningful comes out of the discussion.

[2018-01-18 09:06] VincentLin78 opened #44 "Is it a backend or converter ?"
I come here from the link https://onnx.ai/supported-tools.
The page there claims ONNX's supported tools including  converters for TF and coreML.

onnx-coreml does like a converter. It can output a *.mlmodel file.
https://github.com/onnx/onnx-coreml

onnx-tensorflow here doesn't. And it looks like a backend ?

I'm so confused.

[2018-01-18 09:15] LucasMahieu commented on #44
Hi,
Actually onnx-tensorflow permits to generate tensorflow graph from onnx graph.
(ONNX -> TF is called back-end)
It is what converter means in https://onnx.ai/supported-tools.
And it is exactly what onnx-coreml does too.

We are actively developing the onnx front-end for Tensorflow (TF -> ONNX).
So, contributions are really welcome.

[2018-01-18 09:29] VincentLin78 commented on #44
onnx-coreml can output a mlmodel file
``
cml = onnx_coreml.convert(model)
cml.save('output/super_resolution.mlmodel')
``
But how can onnx-tensorflow do that ?

[2018-01-18 16:09] tjingrant commented on #44
After you get your graph up and running in onnx-tf, just do:
`
tf.get_default_graph()
`
and save that graph.

[2018-01-24 06:30] #44 closed

[2018-01-31 20:47] davidbuniat commented on #22
Following @LucasMahieu added a simple experimental test [here](https://github.com/davidbuniat/onnx-tensorflow/blob/master/test/frontend/test_conv.py) and simple covn2d handler, but stuck on generalizing to have multiple Conv layers. Also onnx backend does not support Identity op for testing.

[2018-02-01 08:02] LucasMahieu commented on #22
Hi, it great to see contributors.
I think a first things to do is to use [these](https://github.com/tensorflow/tensorflow/blob/c496f53af0cf4bba27b30ae7bc8886171fed867a/tensorflow/tools/graph_transforms/README.md#fold_constants) functions. They permits to remove all  useless parts of the graph. Also it permits to fold all constants in the graph which simplify hugely the graph for inference.

[2018-02-07 23:48] akurniawan commented on #42
It seems no one looking at https://github.com/onnx/onnx-tensorflow/issues/38? From my point of view this is one useful feature that we can have. onnx-caffe2 has a simple command line to convert onnx model to caffe2 so it can be loaded from caffe2 environment directly, as shown [here](https://github.com/onnx/tutorials/blob/master/tutorials/OnnxCaffe2Import.ipynb)

[2018-02-08 01:26] tjingrant commented on #42
It's more or less a duplicate of https://github.com/onnx/onnx-tensorflow/issues/44.

Since getting the model proto is basically everything one needs to serve the model.
I could write up a tutorial in about a week or so.

[2018-02-12 18:40] arogozhnikov opened #46 "Order for mutiple outputs"
Looking at these lines:

https://github.com/onnx/onnx-tensorflow/blob/3c2723e4077345405defad12ac3a6b31dfdbea4d/onnx_tf/backend_rep.py#L39-L41

Order of output is not determenistic prior to python 3.7 since dict can store and return values in any order.

Replacing `dict` with `OrderedDict` should fix this.

[2018-02-12 23:52] tjingrant commented on #46
Hi, this does not seem to be a problem because my implementation does not rely on .values() producing a particular-ordered list of the values. So long as .values() and .keys() correspond, they will be zipped together in the correct way. The correspondence condition is guaranteed here:

https://docs.python.org/2/library/stdtypes.html#dict.items

Which states:

I'd be happy to look into your code if

[2018-02-13 09:37] arogozhnikov commented on #46
Exactly, as you said, `.values()` correspond to contents, but the problem is in creation of dict, below is a simple example (note, that I'm adding elements 2, then 1):
[code]

[2018-02-13 16:26] tjingrant commented on #46
@arogozhnikov , I'd like to make 3 things clear:
1. The output of backend.run is a **dictionary**, not a list; thus order does not matter.
2. Sess.run is order preserving and thus behaves much like a map function.
3. The internal ordering of the dictionary elements does not change (unless modified); thus .values() and .keys() reflect the same internal order, thus they will **correspond** . And by

[2018-02-14 08:46] arogozhnikov commented on #46
Ah, sorry. That's what I forgot.

[2018-02-14 08:46] #46 closed

[2018-02-14 15:51] lysukhin commented on #42
Is there a way to export `onnx-tf` model as frozen graph for inference in, for example, C++?

[2018-02-16 01:37] fumihwh opened #47 "Duplicate source codes"
In `backend.py`, `frontend.py`, I find there are a lot duplicate source code which are also in `common.py`. It is not good for maintenance.
I just want to keep them in `common.py` and remove unneeded one in `backend.py`, `frontend.py`.

When this done, I think I could implement some ops(handlers) supported in onnx but not here yet.

[2018-02-16 01:40] tjingrant commented on #47
Yes, indeed, I'm trying to move some of the shared codes from `backend` to `common` but didn't want to break anything. It's probably ultimately a good thing to keep things clean.

Would you care to submit a PR for this?

[2018-02-16 01:53] fumihwh commented on #47
Yes, I am trying to do this currently.
I will create a PR when it is done.

[2018-02-16 03:39] fumihwh opened #49 "should use specialized handler before default one"
As title says, I think we should use specialized hander before default one.

This problem occurs when I want to remove `onnx_tf_op_map` in `backend.py` and use `ONNX_OP_TO_TF_OP` in `common.py` instead.
Because `ONNX_OP_TO_TF_OP` has `concat` which is not in `onnx_tf_op_map`.
So when I run test, `backend.py` will use default handler (`handle_trivial`) instead of `handle_concat`.
In `handle_trivial

[2018-02-16 04:49] fumihwh opened #50 "tf.get_default_graph() does not work at first makes frontend test failed"
When I run pytest locally, faced a problem that frontend test always failed just with running backend test together.
If I run frontend test along, it passed.

So I debugged and found `tf.reset_default_graph()` is run at end of each frontend test case not at first.
I suggest put `tf.reset_default_graph()` at first just under `def do_test_expected(self):`.

[2018-02-21 03:40] #49 closed

[2018-02-21 06:02] #50 closed

[2018-02-21 12:39] fumihwh opened #53 "failed in CI testing"
There are two reasons.

- lack of ops
- result not match

Actually, I am working on them and already done the first one.

[2018-02-21 12:54] tjingrant commented on #53
I could look at the 2nd one when I get back and if you have not already done so.
A couple of ops have differing definitions in TF; most are variants of the relu ops. I don't think that matters so I may disable the relevant tests soon.

[2018-02-22 10:42] fumihwh commented on #53
@tjingrant
I am working at https://github.com/onnx/onnx-tensorflow/compare/master...fumihwh:fix-build and almost there.
Add and fix a lots of handlers. Let's what will happen https://travis-ci.org/fumihwh/onnx-tensorflow/branches

[2018-02-22 11:07] tjingrant commented on #53
Looks great!

[2018-02-22 11:31] tjingrant commented on #53
@fumihwh what seems to be the problem?

[2018-02-22 12:22] fumihwh commented on #53
@tjingrant
For backend, FAILED (failures=5, errors=6, skipped=281). [log here](https://api.travis-ci.org/v3/job/344734835/log.txt) Not a big problem.
Frontend is not reached because of that.

[2018-02-22 12:37] tjingrant commented on #53
@fumihwh dont worry about fixing every error, I will work on them once I get back next Wed.

I'm fine with merging new changes as long as it does not increase the number of errors/failures.

[2018-02-25 09:58] alexanderkoller opened #56 "LSTM support?"
Hi,

I'm trying to convert a very simple LSTM from Pytorch to Tensorflow via ONNX, but I'm getting an error in the onnx-tensorflow `prepare` function.

Are LSTMs supported by onnx-tensorflow? If no, why not, and how would I go about adding them?

Best,
Alexander.

Error message:
[code]

Output produced by `torch.onnx.export(lstm, (inputs,hidden), "lstm.onnx", verbose=True)`:
[code]

The LSTM itsel

[2018-02-25 12:52] tjingrant commented on #56
We used to have LSTM support but the ONNX spec regarding LSTM kept changing and it eventually went outdated so I deleted them. Hopefully the spec is stabilized now.

You can take a look at an older version of `backend.py` [here](https://github.com/onnx/onnx-tensorflow/blob/012945570c98d3c374d3671d907487c40b2281e8/onnx_tf/backend.py#L610) which has support for the older spec and improve from there.

[2018-02-25 13:18] #53 closed

[2018-02-25 18:12] alexanderkoller commented on #56
Thank you for your answer! Yes, I do appreciate that it is tricky to keep up with a changing spec. Let me see what I can do with the current version.

[2018-02-25 19:45] alexanderkoller commented on #56
Turns out that backend.py doesn't even get to `_onnx_node_to_tensorflow_op`, which as far as I can tell is where `handle_optimized_r_n_n` would be called.

Am I interpreting the exception correctly that the ValidationError is thrown in `onnx.checker.check_model`, and that what we're seeing here is actually a mismatch between the ONNX that Pytorch generates (current source version from Github) and

[2018-02-26 00:17] fumihwh commented on #56
@alexanderkoller
I can’t reproduce your error locally.
Which pytorch, onnx are you using? Did you install them from source?

[2018-02-26 08:05] alexanderkoller commented on #56
@fumihwh I built Pytorch and onnx-tensorflow from source, but used ONNX 1.0.1, which came from `conda install -c conda-forge onnx`. I will try to build ONNX from source (had some trouble with that last night) and report back.

In the meantime, here is the ONNX file that Pytorch exported: [lstm.onnx](https://www.dropbox.com/s/j2ig6s92sack7nk/lstm.onnx?dl=0), in case that helps with reproducing the

[2018-02-26 12:32] fumihwh commented on #56
@alexanderkoller
I used your `lstm.onnx` and got `NotImplementedError: LSTM op is not implemented.`.
So, it means I have already passed `onnx.checker.check_model` step.

[2018-02-26 13:30] tjingrant commented on #56
This error makes more sense.

[2018-02-26 13:35] fumihwh commented on #56
@tjingrant Yes. LSTM is one of ONNX op not implemented here currently.

[2018-02-26 15:07] alexanderkoller commented on #56
@fumihwh But you get the "LSTM op is not implemented" error with the development version of ONNX, right? Still working on building it; now that I've fixed the protobuf version mismatch, I'm stuck at the missing pybind11.h. I will keep trying, and report back.

[2018-02-26 15:15] tjingrant commented on #56
@alexanderkoller you may be missing the `--recursive` flag when cloning.

[2018-02-26 17:32] alexanderkoller commented on #56
Okay, I have managed to compile ONNX from source and am now getting the same error as you guys.

I have also implemented a `handle_l_s_t_m` method in `TensorflowBackend`, which creates the LSTM in Tensorflow (so at least it can be run in a TF session without crashing), and figured out how to access both the weights in the ONNX LSTM operator and the variables inside the Tensorflow LSTMCell.

Now I'

[2018-02-27 02:51] fumihwh commented on #56
@alexanderkoller @tjingrant
I am successful in running LSTM base on `handle_optimized_r_n_n `. I will create a PR and please review it.

[2018-02-27 07:34] fumihwh commented on #56
#59
I created a pr to add lstm handler. It works but without some features.
Any advice is welcome.

@alexanderkoller
You can try above one.

[2018-02-27 10:13] alexanderkoller commented on #56
@fumihwh Great, thanks! This is roughly as far as I got too.

How does your code set the weight tensors of the LSTM to be as in the ONNX? I can't see how it does it, but maybe I'm missing something?

[2018-02-27 12:18] fumihwh commented on #56
@alexanderkoller
`onnx_graph_to_tensorflow_net` in `backend.py`
https://github.com/onnx/onnx-tensorflow/blob/master/onnx_tf/backend.py#L343-L353
Initialize tensors here.

[2018-02-27 14:17] fumihwh opened #60 "Do we need `test_node.py` anymore?"
Because of `test_onnx_backend.py` also does same test, do we need this anymore?

[2018-02-28 09:16] tjingrant commented on #60
Yes, the tests are different. There's no reason to reduce test coverage even if the functionality they test is the same. I'm currently traveling back and please excuse my late reply...

[2018-02-28 12:23] fumihwh commented on #60
@tjingrant I see.

[2018-02-28 12:24] #60 closed

[2018-03-01 10:33] alexanderkoller commented on #56
@fumihwh Thanks!

So if I understand your code correctly, the `input_dict_items` contain a mapping from placeholders or variables to tensors. When `run` in `TensorflowRep` is called, these will be fed into the computation graph through the `feed_dict`.

What I don't understand yet is what your preferred strategy is for adding entries to the `input_dict_items`. If I simply try to update the `input_

[2018-03-01 13:44] #47 closed

[2018-03-02 05:33] fumihwh commented on #56
@alexanderkoller
First, `original_input_dict` from `onnx_graph_to_tensorflow_net` contains initialized inputs.
So, LSTM variables are initialized and passed to `handle_l_s_t_m`.

The problem should be how pass initialized params(W,R,B) to `tf.contrib.rnn.LSTMCell`. Because there are no attrs for them in tf.
Maybe you can try assign them after make cell.
https://github.com/tensorflow/tensorflow/iss

[2018-03-09 13:11] fumihwh opened #65 "some problem about node.attr in frontend"
After `frontend.py` L149, I get such `node.attr` as
[code]
If I just pass it to `make_node` in `helper.py`, I get
[code]
So I try to get value before `make_node`: `node.attr = dict(map(lambda item: (item[0], get_attribute_value(item[1])), node.attr.items()))`,
then I get
[code]
---
So there are two problems
- current `frontend.py` can not handle attr structure (maybe changed?) -> can be fixed with

[2018-03-10 17:01] terrytangyuan opened #66 "Support kernel_shape in Conv operator"
Right now I am getting a bunch of warnings:
[code]
When I was trying to run a couple onnx models from onnx-models repo, e.g. `resnet50` and `vgg19`.

[2018-03-10 19:18] tjingrant commented on #66
Yes, we don't see a case where kernel_shape is needed in TF since it can be inferred from the shape of the weight tensor. We added a warning just in case. This to me feels more like a deficiency in the ONNX spec. I think the current behavior is fair because warning usually doesn't mean that there is a problem (like an used variable in C++, this is an unused attribute).

[2018-03-10 19:25] tjingrant commented on #65
1. The first solution sounds good to me.
2. I'm not sure what you mean by this:

Can you explain a bit more?

[2018-03-10 19:38] terrytangyuan commented on #66
Makes sense to me. Though I think we should make it less verbose. I see tens of warning messages right now.

[2018-03-10 20:07] tjingrant commented on #66
One possibility is to turn this warning into an assertion to make sure that kernel_shape matches up with the shape of the weight tensor. I could make this happen relatively painlessly.

[2018-03-10 20:16] terrytangyuan commented on #66
That would be great. Feel free to close this after your change. Thanks!

[2018-03-11 02:51] fumihwh commented on #65
@tjingrant
I mean that rewrite [`get_attribute_value`](https://github.com/onnx/onnx/blob/master/onnx/helper.py#L207) as following:
[code]

Then, onnx's `get_attribute_value` can handle pbs both protobuf2 and protobuf3.
Another choice is put above source inside `onnx-tensorflow`.

[2018-03-11 15:02] fumihwh commented on #65
So I am here. `onnx`'s `get_attrbute_value` checks fields (f, g, ints, floats, strings, tensors, graphs) that does not exist in [`AttrValue`](https://github.com/tensorflow/tensorflow/blob/r1.6/tensorflow/core/framework/attr_value.proto).
Maybe we should make `get_attribute_value` inside `onnx-tensorflow`?
[code]

[2018-03-11 15:54] tjingrant commented on #65
It occurs to me that we need proper sanitization before passing it to `make_node` b/c ONNX does not accept the `data_format` attribute. Also, I don't think there's Conv op in the frontend yet (and that's part of the reason why `data_format` attribute wasn't filtered out..). Am I missing something? I don't see why we need to get its attribute.

[2018-03-11 16:11] fumihwh commented on #65
Just leave `data_format`, attr I mentioned at first is just a example, my local works.
The point is I think we can not just use `onnx`'s `get_attribute_value ` because it contains unneeded checkers.

[2018-03-11 16:37] tjingrant commented on #65
Can you push your local (as I understand, your local is your proposed changes right?) as a work in progress PR so we can actually look at the code?

[2018-03-12 01:48] fumihwh commented on #65
I've created a PR. I think it shows how do I handle above problems.
You can get example pb: https://www.dropbox.com/s/5qd8tlbzesyh6z6/tf_gh_mnist.pb?dl=0

[2018-03-14 12:34] fumihwh opened #68 "description misleads"
`Tensorflow Backend for ONNX` mislead people.
Even member from onnx create a new repository `tensorflow-onnx` for converting TensorFlow models to ONNX.
Maybe we should change the description.

[2018-03-14 18:25] tjingrant commented on #68
Indeed that's my bad. Our frontend support is not very mature yet so I didn't put it out there... Maybe it's time to make it clear.

[2018-03-15 02:18] fumihwh opened #69 "pass additional args to handlers"
Currently we pass `consts` to handlers in frontend, but in some case, we need more to deal with ops.
For example, at least we need input shape to calculate pad size for pooling and conv because `SAME` and `VALID` is deprecated.
So I have to pass all ops' `_output_shape` to handlers.

Then, there are three questions:
1. do we really need additional args
2. if 1 is yes, what should we pass to handle

[2018-03-15 02:18] fumihwh commented on #68
@tjingrant We should fix README.md also. And....let's do more at frontend side!!!

[2018-03-15 03:00] fumihwh opened #70 "remove consts/inputs after use them as attr in frontend"
In case input in TF which is attr in onnx, such as `handle_reshape`:
[code]
After use it as an attr of node `Reshape`, it should not be a `initializer` or `input` anymore.
We should delete it from graph. (remove them from `inputs_proto` and `consts_proto`)

[2018-03-15 15:02] tjingrant commented on #68
@fumihwh definitely... Sorry I have been very busy at the beginning of the week, now I'm much freer and will concentrate on ONNX.

[2018-03-15 17:31] tjingrant commented on #70
That's very nice.

[2018-03-15 17:35] #68 closed

[2018-03-16 03:21] fumihwh opened #72 "duplicate repository for converting tensorflow->onnx"
@tjingrant
I mentioned in another issue that there is a duplicate repository for converting tensorflow->onnx.
And maybe we should discuss how to deal with this.
https://github.com/onnx/tensorflow-onnx/issues/1

[2018-03-16 03:22] fumihwh commented on #72
@guschmue

[2018-03-16 03:24] fumihwh opened #73 "setup.sh never run?"
Is there any command for running setup.sh?
Maybe it's the reason always makes test fail at python2.7.

Example job:
https://travis-ci.org/onnx/onnx-tensorflow/jobs/354137884

Log:
[code]

[2018-03-16 03:26] tjingrant commented on #73
I think it's just the case of vgg-19 not being able to get enough memory.. It happened before to the onnx-caffe project and they disabled it from running on CI infrastructure.

[2018-03-16 03:26] #73 closed

[2018-03-16 03:28] tjingrant commented on #69
I think for _output_shape, we can just keep it in the proto attribute instead of a parameter to the handler? I feel like this is easier to handle.

[2018-03-16 03:29] fumihwh commented on #73
@tjingrant
So maybe issue should be test failed when using python2.7.
Do you know anything about that error?

[2018-03-16 03:31] fumihwh commented on #69
Actually, I need previous node's `_ouput_shape`....

[2018-03-16 03:37] tjingrant commented on #73
I don't think it happens very often. Also it fixes itself usually after a re-run.

[2018-03-16 03:38] tjingrant commented on #69
Ah, so it's really `input_shape`. In this case, yes, let's put it in the kwargs then.

[2018-03-16 03:43] fumihwh commented on #73
OK~

[2018-03-16 05:48] #70 closed

[2018-03-16 05:48] #69 closed

[2018-03-19 06:50] fumihwh opened #75 "support opset"
ONNX is using `opset` to version ops, which is not supported in onnx-tensorflow.
Unless support opset here, we will loss a lot of compatibilities.
One idea is separate handlers to another files - make one file per op.
In file, we have both frontend, backend versioned handlers.
For example,
[code]

How about this?

[2018-03-19 15:56] tjingrant commented on #75
I suspect this will create way too many files and it could be very difficult to manage in the end. I think we should probably do one version per file (and only implement the handlers that have changed since the last version) and by default automatically pick the latest version of the implementation.

What do you think?

[2018-03-19 21:45] tjingrant commented on #66
This has been fixed in the latest commit. Closing now.

[2018-03-19 21:45] #66 closed

[2018-03-19 21:46] terrytangyuan commented on #66
Thanks!

[2018-03-20 01:15] fumihwh commented on #75
You mean `backend_2.py`, `backend_3.py` <-- sth like this?

[2018-03-20 01:17] tjingrant commented on #75
Yes and we only write ops that have updated definitions in newer versions. So backend_2.py, backend_3.py should be fairly small in size. Also we can pull their shared code to backend_common.py.

[2018-03-20 01:22] fumihwh commented on #75
If use this way, it's a bit harder to find appropriate handler.
For example, graph `opset=4` and newest `AddHandler` is `opset=1`.
We should loop `backend_*.py` to check if `AddHanlder` exists.
Should we add a version management file (dict) to manage ops version?
[code]

[2018-03-20 01:32] tjingrant commented on #75
Indeed I think that might be a good idea.
I think we can possibly generate this file automatically.

[2018-03-20 01:36] fumihwh commented on #75
`this file` means indexing file of ops, right?
If yes, sounds good.

[2018-03-20 01:38] tjingrant commented on #75
Yes.

[2018-03-20 01:39] fumihwh commented on #75
If you have time, otherwise I can try.

[2018-03-20 01:53] tjingrant commented on #75
Yes, let's divide the work for this one. So you can assume that you already have a dictionary like
`
opset = {'add': [1, 2], 'subtract': [2, 3]}
`
where the list of numbers indicate the available versions in our implementation (assuming we are consistent between frontend and backend).

[2018-03-20 15:18] #75 closed

[2018-03-21 12:44] fumihwh opened #84 "code style"
I know in README, we recommend pylint with tensorflow code style.
But in code, indent with 4 spaces also exist......
We should unify it. A simple way is use [`autopep8`](https://github.com/hhatto/autopep8). Although it is different with tensorflow code style.

[2018-03-21 13:46] fumihwh opened #85 "Require branches to be up to date before merging"
Do we need `Require branches to be up to date before merging`?
Just a little inconvenience that`Update branch` button does not show.

[2018-03-21 13:59] tjingrant commented on #84
Thats a good idea.

[2018-03-21 14:06] tjingrant commented on #85
Sounds reasonable. I just enabled it.

[2018-03-21 14:11] #85 closed

[2018-03-22 13:05] fumihwh opened #86 "how to deal with combinatorial ops"
For example, tf has rsqrt op. which is just 1/sqrt(x). But onnx has sqrt and reciprocal only.
Do we need to support such op as following?

[code]

[2018-03-22 15:02] tjingrant commented on #86
Tensorflow has way too many ops to support all of them...
I think we can ignore them unless you see a need to work on them now.

[2018-03-22 15:38] fumihwh commented on #86
...Let's wait for onnx to do that..
maybe https://github.com/onnx/onnx/pull/570

[2018-03-23 18:40] ZeyadYasser opened #88 "How to get output from an intermediate layer?"
I have been reading the source code for a while now but cannot identify how to get output from intermediate layers given its name. [It is not mentioned in the documentation]
I can only use the run function which make a forward pass through the whole network.
Any suggestions?
Thanks.

[2018-03-23 18:50] tjingrant commented on #88
Hi, this sounds like you are missing some output names from your exporter. Which tool did you use to export your model?

[2018-03-23 19:13] fumihwh commented on #88
@tjingrant It is really helpful that one can choose which tensor to output when debugging.
Should us pass output names to `run_model` in backend?
Also frontend, pass multiple outputs to `tensorflow_graph_to_onnx_graph`.

[2018-03-23 19:25] ZeyadYasser commented on #88
I am using this inception_v1 model from https://github.com/onnx/models as a test.
Let's say I want to use the model for transfer learning so I want the output of an intermediate layer (I have its name eg:'concat_8:0' layer).
I am having difficulty figuring out how to get the output of that layer('concat_8:0'), I can only get the output  of the last layer using the tf_rep.run() method.
I am guessin

[2018-03-23 19:26] tjingrant commented on #88
@fumihwh For debugging, I think there are better and more automatic ways. For instance, you can take a look at the script I wrote when debugging the backend (https://github.com/onnx/onnx-tensorflow/blob/master/example/test_model_large_stepping.py). Basically we can automatically step through each layer and compare with another backend. I can make it more general for debugging.

I'm a bit concerned

[2018-03-23 19:37] tjingrant commented on #88
@ZeyadYasser are you looking for a partial execution of the model then? Or just execute the entire model and extract a specific non-standard output name?

[2018-03-23 19:44] ZeyadYasser commented on #88
@tjingrant Yes exactly, I am looking for partial execution of the model or getting the actual tensorflow graph object which I can then manipulate.

[2018-03-23 19:49] fumihwh commented on #88
@tjingrant `test_model_large_stepping.py` looks quite good~ That is enough I think.

[2018-03-23 19:53] tjingrant commented on #88
@ZeyadYasser for a partial execution, I think we should hand you with the tensorflow graph object instead of performing partial execution in our backend. I'll include a tutorial to do that.

[2018-03-23 20:24] tjingrant commented on #88
@ZeyadYasser to give you a quick answer, to get the TF model, it is as simple as:

[code]

[2018-03-23 20:55] ZeyadYasser commented on #88
@tjingrant Thank you very much, This is exactly what I wanted.Cool trick btw, I haven't though of using tensorflow itself to get the default graph.
I am closing the issue.

[2018-03-23 20:55] #88 closed

[2018-03-24 05:06] #65 closed

[2018-03-24 05:06] #86 closed

[2018-03-24 11:11] fumihwh commented on #84
@tjingrant I'll apply autopep8 to all file after merge your refactor pr.

[2018-03-24 19:12] tjingrant commented on #84
Sorry I missed that it's different with tf code style...
I'd actually like to maintain that b/c one day we might be merging the frontend to TF (although unlikely b/c we tried once lol).

[2018-03-24 20:18] tjingrant commented on #88
Check out the new API doc [here](https://github.com/onnx/onnx-tensorflow/blob/master/onnx_tf/doc/API.md), specifically now we support
[code]
for your use case. This is a function long overdue and I'm sorry about not writing this up earlier.

[2018-03-24 23:24] ZeyadYasser commented on #88
Great, It's much better now that the tf graph object is now officially supported as it allows for many native tf specific manipulation & modifications to the graph.
Thanks a lot for your help.

[2018-03-25 10:29] fumihwh commented on #84
I think we can use autopep8. Just need to change space size to 2.
https://www.tensorflow.org/community/style_guide

[2018-03-25 11:10] fumihwh commented on #84
From https://www.tensorflow.org/community/style_guide,
I think we can apply autopep8 with space size 2.

Actually, I tried in my local.
pylint score is improved from 6.15/10 to 8.98/10 with tensorflow/tensorflow/tools/ci_build/pylintrc.

[2018-03-25 11:21] fumihwh commented on #84
Use yapf with --style='{based_on_style: chromium, column_limit: 79, indent_width: 2}' got 9.14/10.

[2018-03-26 03:59] #84 closed

[2018-03-27 03:22] fumihwh opened #92 "add example for frontend"
As title, I think we should add example for frontend.
Maybe jupyter is better. So that we can also update https://github.com/onnx/tutorials

[2018-03-27 04:06] tjingrant commented on #92
Yes, I was actually working on updating the backend tutorial today. Will roll out an update on backend tutorial soon. I'll take a look at frontend tutorial soon after (if you haven't already done so).

[2018-03-27 07:19] tjingrant commented on #92
import tensorflow as tf
from onnx_tf.frontend import convert_graph

graph_pb = '../frozen_resnet_v2_50.pb'

with tf.gfile.GFile(graph_pb, "rb") as f:
    graph_def = tf.GraphDef()
    graph_def.ParseFromString(f.read())
    onnx_model = convert_graph(graph_def, "resnet_v2_50/predictions/Reshape_1")
[code]

[2018-03-27 12:29] fumihwh commented on #92
#93
I've created a pr to add BN and shape op support.

[2018-03-28 03:59] tjingrant opened #95 "Conv Kernel Shape"
@fumihwh I'm working on the tutorial but it seems like we have some problem recognizing the filter kernel size in conv2d.

https://github.com/onnx/onnx-tensorflow/blob/552a87387d93b878bdf79ca25896173a74f14aa4/onnx_tf/frontends/frontend_v1.py#L84

Tensorflow filter size is specified as such:
[filter_height, filter_width, in_channels, out_channels]

Thus seems like we should be taking the first d el

[2018-03-28 04:06] fumihwh commented on #95
@tjingrant
https://github.com/onnx/onnx-tensorflow/blob/552a87387d93b878bdf79ca25896173a74f14aa4/onnx_tf/frontend.py#L189-L192
I transposed kernel first.

[2018-03-28 04:20] tjingrant commented on #95
Ah, so I explicitly created the variable and the kernel is not present in the variable name. This is actually quite common if one intends to share the same weight between many layers.

In addition, we should have talked about this during code review for an entirely different reason: if we create a scope named "kernel" in TF then every constant in this scope will be transposed by this piece of code

[2018-03-28 05:45] tjingrant commented on #95
So I managed to get mnist working (with some ad-hoc fix for the kernel transpose). Turns out bias_add needs more hint about broadcast axis and a fix is already submitted.

The reason why I gave up ResNet is that TF ResNet is trained in NHWC mode. I'll have to think about how to import NCHW based models (it's quite complicated because there is only NCHW conv in ONNX). Please comment if you have any

[2018-03-28 05:59] fumihwh commented on #95
Sorry, I can't get it.
Export TF ResNet to onnx failed because of there is only NCHW conv in ONNX?

[2018-03-28 06:01] tjingrant commented on #95
I wouldn't say it failed but to get it working more (non-trivial) work is needed.
Last time I checked, there is no NHWC conv in ONNX.

[2018-03-28 06:05] fumihwh commented on #95
From pr's comment,
I think change the consts directly and put transposed kernel into onnx graph (as initializer) is a better way.

[2018-03-28 06:10] tjingrant commented on #95
Yeah but here it's not about the kernel that we need to transpose. It's the input feature map that we need to transpose. It's an issue different from the one the PR tries to address.

[2018-03-28 06:21] fumihwh commented on #95
Now I got. Transposing input at first and output at last (also with NCHW conv and other ops) should work?

[2018-03-28 06:25] tjingrant commented on #95
Yes but performance implication is huge in that case.

[2018-03-28 06:34] fumihwh commented on #95
Is that huge?

[2018-03-28 16:13] tjingrant commented on #95
There are two potential fixes along the line we were talking.
1. Transpose input at first and output at last for the entire model.
2. Transpose input at first and output at last for each op.

My thought was the second. I suspect your thought was the first. The reason why I don't think first is a good idea is because the engineering cost is very high and the logic behind complex. Essentially you'll

[2018-03-30 08:03] fumihwh opened #102 "pass opsetid object instead of just opset in frontend"
About `tensorflow_graph_to_onnx_model`,
current `opset` is an attr passed to method and use `helper.make_opsetid('', opset)` to create opsetid.
I think a better idea is let user pass opsetid object directly.

[2018-03-30 13:40] fumihwh commented on #95
2, will ONNX optimizer do that for us?

[2018-03-30 14:44] tjingrant commented on #102
How about supporting both? With a different keyword arg like opsetid_obj?

[2018-03-30 15:16] fumihwh commented on #102
Or let opset accept both int and obj?

[2018-03-30 15:54] tjingrant commented on #102
That works for me as well.
Also, what's the benefit of allowing users to pass in the opsetid object? Is it the ability to specify custom domain?

[2018-03-30 16:08] fumihwh commented on #102
Yes. Also `ai.onnx.ml` domain which is officially supported, if I remember correctly.

[2018-03-30 18:44] tjingrant commented on #95
@fumihwh 1 puts us in a familiar situation: how do you tell which tensors are input (thus to be transposed), which tensors are not (thus not to be transposed)? After all, a tensor can be both according to the current spec.

[2018-03-31 02:12] fumihwh commented on #102
Should we provide frontend support by domain? or just by version as current?

For example, {'': 6, 'ai.onnx.ml': 1}.
We put them into model by `model.opset_import.extend(opset_imports)` to point out which custom operator sets imported by the model.
The problem is we have frontend_vx now, is it cool to keep them (put `ai.onnx.ml:1` into frontend_v1) or should add domain compatibility with frontend_

[2018-03-31 03:38] tjingrant commented on #102
Ultimately yes. But frankly I do not yet quite understand how this opset_import is supposed to work. Do you see any documentations about this topic?

I'm actually quite confused; say if I import opset_ver=6, does it mean we import only 6? Or use 6 as the first choice, then go to 5, 4, 3, 2, 1 if a later versioned op is not available. Because if we only import opset_ver=6, technically there aren't

[2018-03-31 04:01] fumihwh commented on #102
Mainly from `Versioning.md`. Key point is: the opset is `since_version`.
For example, Reshape has [1, 5], you can find it from `opset_version.py`. It means since opset=1, we should use handle_reshape in frontend_v1 until next since version if has. So in this case, under opset=4, we will use handler_reshape in frontend_v1 and from opset=5, we should switch to frontend_v5.

[2018-03-31 04:46] tjingrant commented on #102
Thanks the link really helps.
I think we need to consider several things.
1. We need to be careful about what API changes we introduce because we shouldn't break API backward compatibility.
2. I'm not very excited about exposing any ONNX helper functions to the user (that'd be an extra thing that users need to learn or an extra place users need to check for documentation).

That being said, we can

[2018-03-31 16:06] fumihwh commented on #95
annoying.....current I always train again from scratch using NCHW...

[2018-04-01 07:34] fumihwh commented on #102
As I said in pr, I am not sure about if onnx supports multiple domain.
From https://github.com/onnx/onnx/blob/master/docs/IR.md#model-metadata,
model metadata has domain: A namespace for the model, following the style of package names, that is, reverse DNS domain name, as 'ai.onnx.ml' (as my understanding).
And domain's type is string, not list.
So maybe I need to open an issue to ask.

[2018-04-02 07:13] fumihwh commented on #102
As we don't know which custom domain tf operator belongs to,
maybe frontend_vx contains all domains' ops' handlers where their opset_version is x is a good idea.
e.g. frontend_v1 contains all "" domain ops' handlers whose opset_version is 1 also all "ai.onnx.ml" domain ops' handlers whose opset_version is 1 too.
Another way is creating frontend_ai.onnx.ml_v1 to hold handlers. We should make a rule

[2018-04-02 13:10] tjingrant commented on #102
Yes I agree keeping them all under `frontend_vx` is a good idea. But we can distinguish the namespace by having different classes containing those handlers right?

I think allowing duplicate handlers is the core advantage of having multiple namespaces right?  So I don't think we can restrict that.

[2018-04-02 13:51] fumihwh commented on #102
How do we deal with case that duplicate handlers exist in multiple namespaces?
For example, operator `Add`, both `ai.onnx`('') and `com.custom` has `handle_add`, and opset_imports={'': 6, 'com.custom': 1}.
We have no idea about which handler should use, right?

[2018-04-02 15:06] tjingrant commented on #102
To deal with duplicate handlers we need consistent rules about order of precedence of namepsaces. This itself is not difficult but we need something concrete to be written in the spec.

[2018-04-02 15:44] fumihwh commented on #102
If opset_imports keep order, we can use that.

[2018-04-03 07:30] AtuNuka opened #105 "Adds training (gradient) pass"
Hi,

I'm interested to train ONNX model on TensorFlow.
However this project supports only inference pass (forward pass) for now.

I know that ONNX supports only inference ops now.
I also know that ONNX is going to support training ops in future.
https://github.com/onnx/onnx/wiki/%5BAnnouncement%5D-ONNX-working-groups-established#training
So, the converter must make gradient graphs from inference g

[2018-04-03 07:50] fumihwh commented on #105
@AtuNuka
As ONNX training support is under discussion, I think we should not go too far.
Of course, we will work on it when ONNX side is landed.

[2018-04-03 09:16] fumihwh opened #106 "output dtype checker (caster?)"
onnx starts checking outputs' dtype. We should deal with that.
And one issue should be clarify. onnx checks ref_outputs' dtype with backend outputs'.
I will open an issue that I think they should check with defs(schema) not ref_outputs. Because some op has constraints of multiple dtypes. ~~It should not be error in case that output dtype different with ref_output dtype but in constraints.~~

UPDAT

[2018-04-03 21:42] AtuNuka commented on #105
@fumihwh

Thanks for your fast reply. OK,  I will wait ONNX side too, and continue checking the ONNX side.

[2018-04-04 16:06] #106 closed

[2018-04-05 01:57] fumihwh commented on #102
#104

[2018-04-05 01:57] #102 closed

[2018-04-07 06:16] fumihwh opened #109 "add axis attr to any op has broadcast=1"
As title, I think we should add axis attr to op which has broadcast=1(add, mul, etc.)

[2018-04-08 02:35] fumihwh commented on #109
We don’t need this. None axis attr is correct.

[2018-04-08 02:35] #109 closed

[2018-04-09 07:38] fumihwh opened #113 "update setup.py"
I think we should update setup.py. (Update pypi)

[2018-04-11 03:17] fumihwh opened #115 "value info holds wrong shape information"
As title, currently we just put origin `_output_shapes` into value_info_proto.
We need to do some transposes.

[2018-04-13 01:28] fumihwh opened #119 "should us use warning instead of raising NotImplementedError in frontend?"
Currently, we raise NotImplementedError in frontend when node.op is not in opset_version.
[code]
Should we use warning instead of error here to make sure pb has been converted even if it can't pass the onnx checker?

[2018-04-13 16:18] kvanhoey commented on #92
Hi all. Thanks a lot for your effort in implementing ONNX support. I'm really looking forward to it.
I've just tried out the code snippet above (applied to the provided frozen TF graph).
This failed:
`  File "/usr/local/lib/python3.6/dist-packages/onnx_tf/frontend.py", line 152, in tensorflow_graph_to_onnx_graph
    raise NotImplementedError("{} op is not implemented.".format(node.op))
NotImplemen

[2018-04-13 21:00] fumihwh commented on #92
@kvanhoey
I guess you installed by `pip install onnx-tf` . Try clone the repository and install by `pip install -e .` .
The package in PyPi is outdated.

[2018-04-16 11:17] kvanhoey commented on #92
Thank you for the hint @fumihwh . In unstilled via `pip` and reinstalled via `pip -e`. That indeed removed this error for my, to the benefit of a few others, unfortunately.
Backend passes `test_model.py` but none of the two other test files. Frontend doesn't pass anything.
And regarding the sample code above, I got the error

    self.name = node_proto.name
AttributeError: 'str' object has no attr

[2018-04-16 12:56] achernigin1987 opened #124 "Add support for leaky_rely"
Currently, it's not possible to convert TF graph to ONNX representation if TF graph contains nodes with _leaky_relu_ activation, because there is no support for tf.math_ops.maximum operator that is used in [TF leaky_relu implementation](https://github.com/tensorflow/tensorflow/blob/92e6c3e4f5c1cabfda1e61547a6a1b268ef95fa5/tensorflow/python/ops/nn_ops.py#L1608).

[2018-04-16 13:03] fumihwh commented on #92
@kvanhoey
I need more information about problem you're facing.
Our CI shows we have passed all test at least on master branch.
Moreover, check your onnx version (try install onnx by pip install -e . too)

[2018-04-16 14:08] fumihwh commented on #124
@achernigin1987
You could try my pr if you are hurry.

[2018-04-17 09:14] achernigin1987 opened #127 "There is no support for ResizeNearestNeigbor TF node"
We are using of tf.image.resize_nearest_neighbor for our convolutional network, but specified operations is not supported in the convertor

[2018-04-17 09:15] achernigin1987 commented on #124
Thanx, it works, but also we need resize_nearest_neigbor operation - I've created the [dedicated issue](https://github.com/onnx/onnx-tensorflow/issues/127) for it

[2018-04-17 09:30] fumihwh commented on #127
@achernigin1987
We do not support any operator which isn't included in https://github.com/onnx/onnx/blob/master/docs/Operators.md.
Otherwise, we call them custom operators.
Anyway, you may be allowed to to convert your tf pb to onnx in which most operators follow the onnx specification except custom operators.
There is another pr to do that. https://github.com/onnx/onnx-tensorflow/pull/122
BTW, if

[2018-04-17 11:17] achernigin1987 commented on #127
Ok, it seems that we can replace resize_nearest_neigbor by chain of Reshape -> Tile -> Reshape operations. But, unfortunately, Tile op also is not supported by onnx-tensorflow.

[2018-04-17 11:18] achernigin1987 opened #128 ""Tile" operation is not supported for TF frontend"

[2018-04-19 22:08] thatindiandude opened #130 "Variable length input"
We've been using ONNX-Tensorflow to convert an RNN-based model that consumes variable length input.

When the model is converted to TF, the consumed example `input` from the `torch._export(model, (input, input_lengths)...)` call will have its own `input_length` parameter, but this variable depending on the longest sequence length in the batch currently being consumed by the model.

Thus, we'd like

[2018-04-20 16:11] fumihwh commented on #130
@thatindiandude
I've add two PRs to fix this.
BTW, as we can not check if starts and ends is valid for shape [None, 30, 30, None],
there is a constraint, if inputs could be [5, 30, 30, 10], [10, 30, 30, 15], [15, 30, 30, 20]
when full_begin=[0, 0, 0, 0], full_sizes should be min_input_shape by all axes, says [<=5, <=30, <=30, <=10]

[2018-04-20 16:12] #124 closed

[2018-04-20 17:48] stgrue commented on #56
Hi,

I've picked up where @alexanderkoller left off, and I have found a way to transfer the weights from the ONNX model into TensorFlow. The way I'm doing it is by reading the weights by using a dummy `tf.Session`, and then initializing a custom LSTM cell by using constant initializers.

I have submitted [a Pull Reqeuest](https://github.com/onnx/onnx-tensorflow/pull/133) for your consideration. Ri

[2018-04-26 01:58] fumihwh opened #137 "support InstanceNormalization"
Reference:
http://pytorch.org/docs/0.3.1/_modules/torch/nn/modules/instancenorm.html
https://github.com/crcrpar/instance_normalization_chainer/blob/master/instance_normalization/function.py

[2018-04-26 07:36] cl5220418 opened #138 "Error in `python': free(): invalid pointer: 0x00007fbbe8b1a520"
I ran the code 'test_model_large_stepping.py' in the example and reported the following error. What should I do? Thank you for your rely!!

`*** Error in `python': free(): invalid pointer: 0x00007fbbe8b1a520 ***
======= Backtrace: =========
/lib/x86_64-linux-gnu/libc.so.6(+0x777e5)[0x7fbbf44077e5]
/lib/x86_64-linux-gnu/libc.so.6(+0x8037a)[0x7fbbf441037a]
/lib/x86_64-linux-gnu/libc.so.6(cfree+0x4c)

[2018-04-26 13:49] fumihwh commented on #138
@cl5220418
I can't reproduce your problem. The suggestion I could give is clean up your environment and compile caffe2 again.

[2018-04-26 13:55] tjingrant commented on #138
Also looking at the 4th line of stacktrace:
/home/cl/anaconda3/lib/python3.5/site-packages/onnx/onnx_cpp2py_export.cpython-35m-x86_64-linux-gnu.so(_ZNSt6locale5_Impl16_M_install_facetEPKNS_2idEPKNS_5facetE+0x142)[0x7fbbe8817a02]

It doesn't seem to be an onnx-tensorflow issue.

[2018-04-27 01:27] #105 closed

[2018-04-27 09:48] fumihwh commented on #128
#142

[2018-04-28 23:49] mufz opened #143 "Porting TensorFlow graph to Onnx graph using TensorFlow iris classification as an example"
Hi

I am trying to port tensorflow graph to Onnx graph using this library. To start with I am using a very simple example that is part of the tensorflow tutorials. I generated a tensorflow graph using the tensorflow estimator API. Once I generated the graph I am using the below code to port it to Onnx graph.

When I run the below code I am getting an error message that unable to convert lambda fun

[2018-04-29 01:15] fumihwh commented on #143
I can't get the problem you are facing to. The error occurs on which step?
Here is a tutorial for frontend. https://github.com/tjingrant/tutorials/tree/patch-2
You can also check it.

[2018-04-29 23:35] mufz commented on #143
Thanks for the tutorial pointer. The error that i am seeing occurs at the convert_graph step.

Just to add to my previous comment I am using the following code to create the graph object in the above code

https://github.com/tensorflow/models/blob/master/samples/core/get_started/premade_estimator.py

I will try the steps in the frontend tutorial and update you on this goes.

[2018-05-02 11:16] #138 closed

[2018-05-02 11:19] cl5220418 opened #145 "ModuleNotFoundError: No module named 'onnx.onnx_pb2'"
When I run an example "relu.py", this error occurs. What should I do?

  File "relu.py", line 6, in <module>
    from onnx_tf.backend import run_node, prepare
  File "/home/cl/anaconda3/envs/caffe2/lib/python3.6/site-packages/onnx_tf/backend.py", line 24, in <module>
    from onnx.onnx_pb2 import GraphProto, TensorProto, AttributeProto
ModuleNotFoundError: No module named 'onnx.onnx_pb2'

[2018-05-02 11:42] fumihwh commented on #145
Did you install onnx?

[2018-05-02 16:03] greenwaves commented on #145
Hi, I'm having the same issue. I performed the following steps for the installation:

API: onnx-tensorflow backend
OS: Ubuntu 17.10
Python version: Python 2.7.14
Steps to reproduce:
4 sudo apt-get install protobuf-compiler libprotoc-dev
5 pip install onnx
6 sudo apt-get install python-pip
7 pip install onnx
8 python -c "import onnx"
9 pip install pytest-cov nbval
10 pytest
11 ls
12 pytest
13 sudo

[2018-05-02 16:37] tjingrant commented on #145
I think they may have renamed the namespace encapsulating these protpbuf definitions.

[2018-05-02 16:38] tjingrant commented on #145
c.f. this commit: https://github.com/onnx/onnx/commit/1d81b19ab70a148e08ee75eee1fff4e98df5f990

[2018-05-03 01:34] fumihwh commented on #145
Can avoid by installing onnx from source for temporally.
PR I referenced is a fix.

[2018-05-03 02:14] cl5220418 commented on #145
Thanks. This problem was solved, but I found the following questions when I run this code. What should I do?

    import onnx_caffe2.backend as c2
ModuleNotFoundError: No module named 'onnx_caffe2'

[2018-05-03 09:49] greenwaves opened #147 "Missing "ArgMax" operator in frontend_tf_opset_version"
Hi, I'm trying to convert a TF cifar10 graph to ONNX graph and I'm missing the ArgMax operator in the frontend_tf_opset_version in file opset_version.py.

$ python tf2onnx.py
DDDD Operand Name
Identity
DDDD Operand Name
Identity
DDDD Operand Name
Conv2D
DDDD Operand Name
Add
DDDD Operand Name
MaxPool
DDDD Operand Name
Identity
DDDD Operand Name
Identity
DDDD Operand Name
Conv2D
DDDD Operand Name
A

[2018-05-03 13:12] fumihwh commented on #128
Added.

[2018-05-03 13:12] #128 closed

[2018-05-03 13:12] #127 closed

[2018-05-03 13:12] fumihwh commented on #130
Fixed.

[2018-05-03 13:12] #130 closed

[2018-05-05 16:57] fumihwh commented on #147
Merged

[2018-05-05 16:57] #147 closed

[2018-05-07 11:43] cl5220418 opened #153 "ImportError: cannot import name 'tensorflow_graph_to_onnx_model'"
When I run the following ‘OnnxTensorflowExport’ code, I get ImportError: cannot import name 'tensorflow_graph_to_onnx_model'. What should I do? Thanks!

`import tensorflow as tf
import onnx_tf.frontend
from onnx_tf.frontend import tensorflow_graph_to_onnx_model

with tf.gfile.GFile("frozen_graph.pb", "rb") as f:
    graph_def = tf.GraphDef()
    graph_def.ParseFromString(f.read())
    onnx_model =

[2018-05-07 19:53] tjingrant commented on #153
@cl5220418 as @fumihwh pointed out, can you tell us more about how you installed the package?

[2018-05-07 21:37] philferriere opened #154 "KeyError: '_output_shapes' error in onnx_tf\frontend.py, line 212, in tensorflow_graph_to_onnx_graph"
Here is the code I am trying to run:

[code]

Here is the actual call stack:

[code]

## Bug Analysis

Lines 212-217 in `frontend.py` try to access an undefined class attribute:

[code]

## Tried Workaround

I tried picking up [PR #121](https://github.com/onnx/onnx-tensorflow/pull/121) by Wenhao Hu. It does fix the immediate problem, but the same issue resurfaces at a different code location:

[co

[2018-05-08 06:34] cl5220418 commented on #153
I got another error,  TypeError: make_graph() got an unexpected keyword argument 'value_info'

  File "OnnxTensorflowExport.py", line 9, in <module>
    "fc2/add")
  File "/home/cl/onnx/onnx-tensorflow/onnx_tf/frontend.py", line 337, in tensorflow_graph_to_onnx_model
    opset, graph_name)
  File "/home/cl/onnx/onnx-tensorflow/onnx_tf/frontend.py", line 291, in tensorflow_graph_to_onnx_graph
    v

[2018-05-08 21:06] philferriere commented on #154
Thank you for getting back to me, @fumihwh.

Following your instructions, here's an updated implementation:
[code]

Running this code results in the following crash:
[code]

This time, the problem occurs on line 92 (that is, before your latest PR), in `frontend_v1.py`:
[code]

[2018-05-08 21:33] philferriere opened #155 "# NotImplementedError: Floor op is not implemented in onnx_tf\frontend.py"
Here is the code I am trying to run:

[code]

Here is the actual call stack:

[code]

## Bug Analysis

The TF Slim VGG 16 model contains Dropout layers and the `Floor` op fails to be parsed by `onnx-tf`:

[code]

Exception on line 289 in `frontend.py`:

[code]

## Python Environment

I have attached a copy of my conda environment in [`env.txt`](https://github.com/onnx/onnx-tensorflow/files/1985713

[2018-05-08 22:06] tjingrant commented on #155
Hi, thank you for your methodical issue template!

I've seen this particular error before and it is caused by drop out op. A fix will be simple and easy but not necessary in this case as you should not be using drop out for deployment. I would suggest you remove drop out from your model.

If you really want the Floor op, I can try to make that happen before next Monday.

[2018-05-09 03:25] fumihwh commented on #154
@philferriere
I need your pb to reproduce the bug.

[2018-05-09 03:32] philferriere commented on #154
Please forgive my ignorance, but what's a "pb" exactly,  @fumihwh ?

[2018-05-09 16:50] philferriere commented on #154
@fumihwh

Please use the following code instead:

[code]

I just realized  that `convert_graph()` (aka, `TensorflowFrontendBase.tensorflow_graph_to_onnx_graph`) and `TensorflowFrontendBase.tensorflow_graph_to_onnx_model()` params are not consistent. In one case, the `output` param is a string (output name) and, in the other, it's a NodeDef.

[2018-05-09 16:56] philferriere opened #157 "Fix frontend API inconsistency"
Currently, `convert_graph()` (aka, `TensorflowFrontendBase.tensorflow_graph_to_onnx_graph()`) and `TensorflowFrontendBase.tensorflow_graph_to_onnx_model()` params are not consistent. In one case, the `output` param is a string (output name) and, in the other, it's a NodeDef.

Making the frontend API consistent would allow me to go from the cumbersome:

[code]

to a much cleaner:

[code]

The front

[2018-05-09 17:02] philferriere commented on #155
@tjingrant
I do need support for the `Floor` op in my scenario.

You are correct that dropout would not appear in an inference graph. The scenario I'm interested in enabling right now is different however. It's a visualization library to visualize graphs (training and inference) from different frameworks (TF, PyTorch, etc.) using their common ONNX representation.

Targeting deployment scenarios mi

[2018-05-09 18:26] tjingrant commented on #155
@philferriere in that case, I will try to include the Floor op as soon as I can before the end of next Monday.

[2018-05-09 18:43] tjingrant commented on #157
Hi @philferriere we clearly document our public APIs on the second line of README file (for your reference https://github.com/onnx/onnx-tensorflow/blob/master/onnx_tf/doc/API.md) and `tensorflow_graph_to_onnx_graph` is not in there.

Mind you, `tensorflow_graph_to_onnx_graph` is not meant to be used by a user because it is not documented in our API documentation; it is in fact merely **a convenien

[2018-05-09 20:50] philferriere commented on #157
Point taken. Thank you for the detailed explanation, @tjingrant!

[2018-05-09 20:50] #157 closed

[2018-05-09 20:52] philferriere commented on #155
Thank you for taking this on, @tjingrant!

[2018-05-10 01:51] mufz commented on #143
@fumihwh

I took a simple MNIST model and tried to follow the steps in the tutorial you pointed above.

I am running into following problem

`  File "/home/muffadall/work/onnx_tf_src/onnx-tensorflow/onnx_tf/frontend.py", line 50, in <lambda>
    "dtype": lambda self, x: self.type_converter(x),
  File "/home/muffadall/work/onnx_tf_src/onnx-tensorflow/onnx_tf/frontend.py", line 80, in type_converter

[2018-05-10 01:55] mufz commented on #143
Datatype as defined by tensorflow [graph ](https://github.com/mufz/tensorflow-to-onnx-convert/blob/master/graphs/complete.pbtxt) and the converter utility [https://github.com/onnx/onnx-tensorflow/blob/master/onnx_tf/common.py] doesn't seem to match. Could this be an issue ?

[2018-05-10 02:08] #153 closed

[2018-05-10 02:09] cl5220418 opened #158 "TypeError: make_graph() got an unexpected keyword argument 'value_info'"
File "OnnxTensorflowExport.py", line 9, in
"fc2/add")
File "/home/cl/onnx/onnx-tensorflow/onnx_tf/frontend.py", line 337, in tensorflow_graph_to_onnx_model
opset, graph_name)
File "/home/cl/onnx/onnx-tensorflow/onnx_tf/frontend.py", line 291, in tensorflow_graph_to_onnx_graph
value_info=value_info_proto)
TypeError: make_graph() got an unexpected keyword argument 'value_info'

[2018-05-10 02:12] fumihwh commented on #158
Upgrade your onnx.

[2018-05-10 02:55] cl5220418 commented on #158
It still doesn't work.

[2018-05-10 03:06] fumihwh commented on #158
Please provide more information about problem you are facing.
`value_info` has been added from Apr 6, 2018.
Current master: https://github.com/onnx/onnx/blob/master/onnx/helper.py#L55
Make sure you are working with onnx after Apr 6, 2018.

[2018-05-10 03:26] fumihwh commented on #154
@philferriere
Could you try
`tfgraphdef = tf.graph_util.convert_variables_to_constants(sess, sess.graph.as_graph_def(add_shapes=True), [predictions.op.name])`
`onnx_graph = convert_graph(tfgraphdef, output_node_def, ignore_unimplemented=True)`

[2018-05-10 08:28] tom888888 opened #161 "KeyError: 'shape'"
I use this example from
https://github.com/onnx/tutorials/blob/master/tutorials/PytorchCaffe2SuperResolution.ipynb
to export  super_resolution.onnx
and run in Tensorflow ,this error occurs
I did run programming with GPU on jupyter noebook
## Error message
[code]
## this is my code:
[code]
## my Python Environment
python 3.6.3
apt-get install protobuf-compiler libprotoc-dev
pip install git+https://

[2018-05-10 08:33] fumihwh commented on #161
@tom888888
`handle_reshape` has no long been in `backend.py`.
At least it has been moved to `backend_v1.py` and `backend_v5.py`.
If you don't has them, could you check your installation of onnx-tf?

[2018-05-10 08:40] tom888888 commented on #161
thank you for your reply
how could i check my installation of onnx-tf?
or i should do `pip install onnx-tf`

[2018-05-10 09:17] tom888888 commented on #161
and i try to run programming with CPU in docker container ,this error occurs
[code]
## my Python Environment
python 3.6.4
apt-get install protobuf-compiler libprotoc-dev
pip install onnx-tf
pip install git+https://github.com/onnx/onnx.git@master
pip install tensorflow

Could you please advice how to solve out this error
Thank you

[2018-05-10 10:00] fumihwh commented on #161
@tom888888
Could you clone onnx-tensorflow to local and install by `pip install -e .`?
Second, onnx in your docker is outdated.

[2018-05-10 10:30] tom888888 commented on #161
I did the same thing in docker as i did in jupyter.
why docker occur error?
Could you please advice how to solve out this error
Thank you

[2018-05-10 12:57] fumihwh commented on #161
I am not familiar with docker.
But https://docs.docker.com/engine/reference/commandline/commit/ will help.

[2018-05-10 21:40] mufz commented on #143
@fumihwh Thanks for fixing the bug. I made further progress on testing the converter. The converter fails saying that Fill ops in not supported. Are there any recommendation on how to remove the Ops that are still not supported by Onnx. Some documentation on making tensorflow graph friendly to onnx might be helpful.

Here is the Summary of Operation types in my Graph

32 Const,
20 Identity,
14 Ass

[2018-05-11 01:56] mufz commented on #143
Awesome Thanks @fumihwh

One more feedback on the same line frontend.py uses make_graph function with argument value_info but the onnx version that you get when you install the onnx through pip is missing this argument. Can you guys take a look and fix this ?

[2018-05-11 02:26] fumihwh commented on #143
@mufz
We are working with develop mode. So `pip install onnx` sometimes does not work.

Maybe we should determine the rule, but currently, please do `pip install .` instead.

[2018-05-11 02:58] tom888888 commented on #161
@fumihwh
thank you so much ,problem solved out
I continue to try docker

[2018-05-11 05:04] tjingrant commented on #143
Let me do a pip re-upload tmrw. Looks like we are getting a lot of troubles.

[2018-05-11 05:04] tjingrant opened #163 "Update pip package"
Scheduled to happen within 24 hr.

[2018-05-11 05:08] #161 closed

[2018-05-11 05:10] tjingrant commented on #145
Seems like the issue is fixed, closing.

[2018-05-11 05:10] #145 closed

[2018-05-11 09:36] tom888888 opened #164 "ValueError: Negative dimension size caused by subtracting 3 from 2 for 'convolution_15' (op: 'Conv2D') with input shapes: [1,2,2,512], [3,3,512,512]."
I use this example from
https://github.com/onnx/tutorials/blob/master/tutorials/CntkOnnxExport.ipynb
to export vgg19.onnx with CNTK
and run in Tensorflow ,this error occurs
I did run programming with GPU on jupyter noebook
## this is my code (export model)
[code]
## Error message
[code]

## this is my code (import with Tensorflow)
[code]

## my Python Environment
python 3.6.3

(1)onnx
[code]
(2)on

[2018-05-11 10:05] fumihwh commented on #164
`ValueError: Negative dimension size caused by subtracting 3 from 2 for 'convolution_15' (op: 'Conv2D') with input shapes: [1,2,2,512], [3,3,512,512].`
Your input size is smaller than kernel size.
You should feed a bigger image to network.
https://github.com/keras-team/keras/blob/master/keras/applications/vgg19.py#L62

[2018-05-11 10:32] tom888888 commented on #164
@fumihwh
thank you for your reply
Since I’m new to deep learning,is there any suggestion to improve this kind of framework ?

thank you

[2018-05-11 19:14] philferriere commented on #163
@tjingrant Would you mind also creating a matching tag in this repo for the upcoming PyPI release? Thanks!

[2018-05-11 21:32] tjingrant commented on #163
@philferriere uploaded and tagged.
@fumihwh can you double check it works?

[2018-05-11 21:32] #163 closed

[2018-05-14 12:37] nmakhotkin opened #167 "Can not use converted ONNX -> TF graph independently [py_func issue]"
I am trying to export some ONNX model to Tensorflow and then use it for inference (possibly on another environment). Here is an example of exporting MNIST model:
[code]

The script above executes successfully and the prediction also runs successfully (`res` == `out` here). Now, I am importing the saved model in TF:
[code]

And now I got the error related to nonexistent PyFuncs:
[code]
Full log: [h

[2018-05-14 13:36] fumihwh commented on #167
I guess there are some pooling ops in your onnx pb.
You could take a look of them.
If they satisfy one of following conditions,

- `auto_pad` not be set to `SAME_UPPER` or `VALID`
- `count_include_pad` is 1

we use `py_func` to do `_compatibility_pool` because in tensorflow, there is no corresponding pool op.

[2018-05-14 14:09] nmakhotkin commented on #167
Basically, this model is imported from PyTorch, the full net class is below:
[code]

So I do `pytorch -> ONNX -> tensorflow` and then try to do inference on tensorflow (the goal is to run tensorflow serving as the result)
Btw, converted ONNX model works fine, moreover, converted `pytorch -> onnx -> caffe2` model works fine. The problem is only for tensorflow.

[2018-05-14 14:10] nmakhotkin commented on #167
So I suppose these `F.max_pool2d` operations are converted to `py_func`

[2018-05-14 17:27] philferriere opened #168 "KeyError: '_output_shapes' error in onnx_tf\frontend.py, line 90, in tensorflow_graph_to_onnx_graph"
Thank you so much for your hard work, @fumihwh!

1/ As mentioned in my original bug report for [#154](https://github.com/onnx/onnx-tensorflow/issues/154), there are other code locations that try to access the same attribute. The same issue crops up in `frontends\frontend_v1.py", line 90, in _conv`:

[code]

Here's the problematic code:

[code]

2/ May I suggest that you also add something similar

[2018-05-14 18:33] tjingrant commented on #167
@fumihwh we did consider onnx -> tensorflow -> tf serving path, that is why we have `export_graph` in our API, but unfortunately as @fumihwh pointed out, max_pool is a complicated issue.

@fumihwh this essentially boils down to the issue I raised to you on this PR (https://github.com/onnx/onnx-tensorflow/pull/83). Specifically and I quote:

I think we should revert part of that PR to use native ma

[2018-05-14 19:14] tjingrant commented on #168
@philferriere yes @fumihwh is amazing! I'll leave him to follow up with the main issue here.

BTW, he also fixed the issue with `floor` (https://github.com/onnx/onnx-tensorflow/pull/165).

For 2), we apologize for the lack of model-level testing. Our frontend has been around for considerably less time than our backend but we are getting there thanks to the hard work of @fumihwh .

On the other han

[2018-05-14 20:01] tjingrant commented on #167
@nmakhotkin can you provide me with the onnx model generated by torch?

[2018-05-14 20:11] nmakhotkin commented on #167
@tjingrant yes, here is it (uploaded to GDrive):
onnx model (generated by pytorch) - https://drive.google.com/file/d/13yJYYgQiiqxP8Khm-PZ5Q6JwxLi2w_4A/view?usp=sharing

original pytorch model - https://drive.google.com/file/d/11BJOI5ucsSmM-9aZBYVIBcDvf9ILihnU/view?usp=sharing

[2018-05-14 20:42] tjingrant commented on #167
@nmakhotkin would you like to try again with this PR https://github.com/onnx/onnx-tensorflow/pull/171/files ?

You can check out a different branch as well (https://github.com/onnx/onnx-tensorflow/tree/fix-pool).

[2018-05-15 04:10] fumihwh commented on #168
@philferriere
[code]
If you use above codes to export tensorflow pb, kernel will be tf.constant instead of tf.identity. It causes the problem.
Because `remove_training_nodes` will remove identity node.

[2018-05-15 06:08] nmakhotkin commented on #167
@tjingrant thanks! I'll try today (it is morning for me now) and will write the results here.

[2018-05-15 08:55] nmakhotkin commented on #167
@tjingrant The fix works! I just tested `onnx-tf` on `fix-pool` branch: I converted my onnx model to tensorflow again and model inference works! Now it is able to successfully recognize some examples from MNIST:

[code]

Now there are no PyFunc ops in the graph. Full set of ops is below:
[code]

P.S. now waiting when the PR is merged :)

[2018-05-15 16:44] philferriere opened #173 "Must ONNX be installed from source for ONNX-TF to work? If so, say so."
`pypi`'s ONNX is version 1.1.2 (see [here](https://pypi.org/project/onnx/)).
`conda-forge`'s ONNX version is 1.1.1 (see [here](https://anaconda.org/conda-forge/onnx))

ONN-TF's `frontend.py` uses API calls that, I believe, have been introduced **after** those releases (see issue [#158](https://github.com/onnx/onnx-tensorflow/issues/158)). Here's an example:

Latest `onnx\helper.py`:

[code]

Relea

[2018-05-15 18:32] philferriere commented on #173
Good to know. I sincerely wish you the best of luck with your project @tjingrant!

[2018-05-15 23:04] dmoham1476 commented on #31
Could you please suggest how I can get rid of the transposes in the tensorflow graph generated from onnx on a CPU device?

[2018-05-16 03:27] fumihwh commented on #31
@dmoham1476
There is no way to avoid this currently.
In tensorflow, you can only use NHWC for most ops on CPU, which is always NCHW in onnx.
And transpose op is also used for transposing kernel etc for compatibility. They have different format in onnx and tensorflow.
Without transpose, your graph might not work properly.

[2018-05-16 22:27] lburzawa opened #175 "Cannot import tf inception into caffe2"
Hi, I am having trouble importing a inception v3 converted from tensorflow-slim through onnx-tf into caffe2. I get error: "onnx.onnx_cpp2py_export.checker.ValidationError: Unrecognized attribute: out_type | Context: Bad node spec: input: "InceptionV3/Logits/SpatialSqueeze" output: "InceptionV3/Predictions/Shape" name: "InceptionV3/Predictions/Shape" op_type: "Shape" attribute { name: "out_type" i:

[2018-05-17 02:14] fumihwh commented on #175
`out_type` comes from [tf.shape](https://www.tensorflow.org/api_docs/python/tf/shape)
We need to remove it from tf attr when converting.

[2018-05-17 02:43] fumihwh commented on #175
@lburzawa
I created some PRs and you can take them to check if it works.

[2018-05-17 19:49] lburzawa commented on #175
Thanks a lot, that fixed it. However now I am getting "RuntimeError: Inferred shape and existing shape differ in dimension 1: (32) vs (149)" . ONNX specifies that input for a Conv should be in format NxCxHxW while weights should be in format MxCxkHxkW. I believe that tf inception was exported to have input format NxHxWxC and weights format kHxkWxCxM. Could this be an issue?

[2018-05-17 20:03] tjingrant commented on #158
Please give our latest release a try here: https://pypi.org/project/onnx-tf/. I believe this issue has been properly resolved.

[2018-05-17 21:37] tjingrant commented on #113
Closing because it's done.

[2018-05-17 21:37] #113 closed

[2018-05-17 21:37] tjingrant commented on #92
Closing because it is done.

[2018-05-17 21:37] #92 closed

[2018-05-17 21:38] tjingrant commented on #72
Closing because the issue has been resolved. Integration has commenced.

[2018-05-17 21:38] #72 closed

[2018-05-17 21:41] tjingrant commented on #38
Sorry for not getting back to you soon enough, but we have introduced an additional API to make this process easy. Please refer to our API documentation: https://github.com/onnx/onnx-tensorflow/blob/master/onnx_tf/doc/API.md

Specifically, the API function you are looking for is:
`onnx_tf.backend_rep.TensorflowRep.export_graph`

[2018-05-17 21:44] tjingrant commented on #175
That's a known limitation we are actively working on. Basically ONNX community considers NHWC a heresy (thus refuse to incorporate any NHWC support) and we have to come up with convoluted workaround to bridge such a gap; but we are getting there.

[2018-05-18 05:51] kartk commented on #167
Still getting the Pyfunc issue even when using the fix-pool branch. My model is the Pytorch's Resnet as shown below :
`class ResNet(nn.Module):
    # ResNet for regression of 3 Euler angles.
    def __init__(self, block, layers, num_classes=1000):
        self.inplanes = 64
        super(ResNet, self).__init__()
        self.conv1 = nn.Conv2d(3, 64, kernel_size=7, stride=2, padding=3,

[2018-05-18 06:03] kartk commented on #167
Still getting the Pyfunc error even when using the fix-pool branch.

The model I converted from is [Pytorch's Resnet](https://github.com/pytorch/vision/blob/master/torchvision/models/resnet.py#L96)

I've been doing the same thing as @nmakhotkin  is trying to do : Pytoch -> Onnx -> Tensorflow representation and then to pb file for running inference.

I was able to convert the mnsit example code fro

[2018-05-18 06:45] fumihwh commented on #167
@kartk
Could you upload your onnx pb?

[2018-05-18 06:55] kartk commented on #167
The model I use is a slight modified Resnet called [Hopenet](https://github.com/natanielruiz/deep-head-pose/blob/master/code/hopenet.py#L7).

Here is the IR representation : https://drive.google.com/file/d/1VRCHFq7lAIhQFEZYr2o0Ij-1xKjbgIf6/view?usp=sharing

Here is the Converted pb : https://drive.google.com/file/d/1PK45MwNDXPg-tTMe-M0errojUnVSMAXb/view?usp=sharing

[2018-05-19 01:59] anderspapitto opened #185 "export of Reshape from onnx to tensorflow does not handle copied dimensions correctly"
In ONNX, a 0 in the shape input means "copy this dimension from the corresponding dimension of the input's shape", rather than "give me a dimension which is literally of size 0". However resize is naively translated to a tensorflow operator that has the latter semantics rather than the former.

[2018-05-19 07:13] fumihwh commented on #167
@kartk
You should get an warning message says
[code]
One layer in your network can not use native tensorflow op. We have to use compatible pool.
I checked and it seems following layer:
[code]
If you want to use pool with "SAME" in tensorflow, the pads should be `[0, 1, 0, 1]`.

[2018-05-20 06:14] tjingrant commented on #185
I believe this issue has been properly resolved.

[2018-05-20 06:14] #185 closed

[2018-05-21 07:20] kartk commented on #167
thanks @fumihwh.

I'm very new to pytorch and NN as a whole, where do i need to change the pads so that it'll be compatible with tensorflow ?

[2018-05-21 15:11] tjingrant commented on #167
@nmakhotkin to put it shortly, PyTorch's ResNet implementation is **incorrect** or more precisely, **not faithful** to the original paper. This might be unbelievable to you, but let me point you to another discussion thread where we discussed extensively about this topic (https://github.com/tensorflow/benchmarks/issues/134).

And let me quote the relevant part, for the first max-pooling layer in R

[2018-05-21 15:13] tjingrant commented on #167
@nmakhotkin as a result, there is no semantic preserving AND serializable workaround. But we can try to give you an option to slightly alter the semantics of max pool so that you can serialize the incorrect version of ResNet exported from PyTorch; but expect some accuracy degradation of your model as a result.

[2018-05-21 16:13] nmakhotkin commented on #167
Thanks for the answer! Yes, it would be nice to have an additional option flag which will control this behavior (either to export precisely or not).

[2018-05-22 12:28] inakinavarro opened #188 "PADing error on resnet model from Pytorch"
When converting a model ResNet based model created with Pytorch I get the following warning message:

_onnx_tf/backends/backend_v1.py:123: UserWarning: Using the pooling op in compatibility mode.This means your graph cannot be serialized.Please configure your pooling operation to only use paddings that correspond to Tensorflow SAME or VALID padding.
  "correspond to Tensorflow SAME or VALID paddin

[2018-05-22 13:14] fumihwh commented on #188
Maybe duplicate of #167

[2018-05-22 16:45] tjingrant opened #190 "Update Pypi release"
https://github.com/onnx/onnx-tensorflow/pull/189

Scheduled to happen within 24 hr.

[2018-05-22 17:30] tjingrant commented on #190
Resolved

[2018-05-22 17:30] #190 closed

[2018-05-22 18:51] dmoham1476 commented on #31
Hi, I ran an inference with tensorflow+Intel MKL and it seems like MKL is able to do the layout conversions on the tensorflow graph like the GPU kernels. This presentation for reference - https://pdfs.semanticscholar.org/presentation/3805/d3288ff3a435172c4d95e76198a1bbffc725.pdf (Kindly look at slide 13). So it would be great if there is a way to eliminate the transposes in the CPU graph when we

[2018-05-23 01:09] fumihwh commented on #31
@dmoham1476 As I know, ONNX has optimizer for continuous transpose. You can try that.

[2018-06-01 11:34] inakinavarro commented on #167
@tjingrant are you planning to implement this workarund for the serialization of the PyTorch ResNet? It would be great! Thanks

[2018-06-01 14:11] tjingrant commented on #167
Hi, absolutely, but we might have other priorities in the meantime, like supporting onnx v1.2; sorry for the delay, my estimate is that it'll be there before the end of next Wed.

[2018-06-01 14:21] inakinavarro commented on #167
That sounds great!! Thanks for your effort!!!

[2018-06-03 14:06] fengshikun opened #203 "How to convert a tensorflow model with multi ouput nodes to onnx format"
I learn from such code to convert a tensorflow model to onnx format
[code]
But it looks that the ```tensorflow_graph_to_onnx_model``` only can deal with one output node with the ```output``` param. How to handle the situation that convert a tensorflow model with multiple output nodes? Thanks!

[2018-06-04 01:19] fumihwh commented on #203
#204 Could you try this PR?

[2018-06-05 03:36] dli2016 opened #207 "NotImplementedError: StridedSlice op is not implemented"
I am a newer for onnx and tensorflow, and also onnx-tensorflow. While I try to export a tensorflow model ([faster-rcnn-tf](https://github.com/dli2016/Faster-RCNN_TF/tree/python3), VGGnet_test) to onnx based on the suggestions in page:
https://github.com/onnx/tutorials/blob/master/tutorials/OnnxTensorflowExport.ipynb
However I meet the error 'NotImplementedError: StridedSlice op is not implemented'

[2018-06-05 06:56] fumihwh commented on #207
There is two way if you want to run converted onnx pb with other backend:
- implement StridedSlice op in onnx-tensorflow frontend (recommend)
- implement StridedSlice op in other backend

else, use `ignore_implemented` to skip StridedSlice op.

[2018-06-05 09:00] dli2016 commented on #207
Thanks for your answer!

However, I meet some other problems when `ignore_unimplemented`:
`The handle_reshape in onnx_tf/frontends/frontend_v1.py: assert node.inputs[1] in consts.keys()`
And I find:
`Reshape/shape; Reshape_1/shape; rpn_cls_prob/shape; Reshape_2/shape`
are not in `consts.keys()`.

I don't know the reasons caused the aforementioned issues. Or as you suggest that I need implement som

[2018-06-05 09:37] fumihwh commented on #207
So in your source, shape is not a const (`tf.reshape(x, [1, 2, 3, 4])`), right?
If could, try install onnx-tensorflow from souce. I refactored frontend just few days ago.

[2018-06-06 00:10] dli2016 commented on #207
Thanks a lot, I will have a try!

[2018-06-06 00:41] fengshikun commented on #203
@fumihwh , very thanks, i have tired the branch, but another error occurs:
[code]

[2018-06-06 01:29] fumihwh commented on #203
@fengshikun
Try use ExpandDims and Concat instead of Pack.
Pack is not an ONNX op. You can find all ONNX op [here](https://github.com/onnx/onnx/blob/master/docs/Operators.md)
And our frontend coverage [here](https://github.com/onnx/onnx-tensorflow/blob/master/doc/support_status.md)

BTW, if you don't want to run exported ONNX pb with other backend, `ignore_unimplemented` could help.
API is [here](

[2018-06-06 03:56] dli2016 commented on #207
I tried to install onnx-tensorflow from source. For one hand, the tensorflow 1.8 is necessary for the new onnx-tensorflow code. For the other, a error appear when I covert the frozen graph:

 `in onnx-tensorflow/onnx_tf/common/data_type.py, when mapping.NP_TYPE_TO_TENSOR_TYPE[np.dtype(tf_dype.as_numpy_dtype)]: KeyError: dtype('O')`.

It seems that `<dtype: 'String'>` is not supported in current on

[2018-06-06 04:50] fumihwh commented on #207
@dli2016 It's a onnx-tensorflow bug when deal with `dtype=string`. I will take a look of this. Thanks.

[2018-06-06 05:03] dli2016 commented on #207
@fumihwh Thanks for the quick reply. Look forward to using the latest code.

[2018-06-07 01:19] fumihwh commented on #207
@dli2016 Could you tell me which op needs dtype string?

[2018-06-07 03:26] dli2016 commented on #207
@fumihwh I got the node op and node name using following code in `onnx-tensorflow/onnx_tf/frontend.py`:
[code]
It shows me that the node op is `Const` and node name is `PyFunc/input_3`. I don't know if I got the correct information. Hope that is useful to you, thanks!

[2018-06-08 00:56] fengshikun commented on #203
@fumihwh , thanks!

[2018-06-08 00:56] #203 closed

[2018-06-08 14:42] #137 closed

[2018-06-08 14:43] #56 closed

[2018-06-08 14:45] #158 closed

[2018-06-09 12:40] gauravbansal98 commented on #56
@stgrue Can you please explain it a bit more or share code if you can.
I am currently trying to do : -
f = [np.random.normal(size = [15, 40]), np.random.normal(size = [40,])]
init = tf.constant_initializer(f, verify_shape = True, dtype = tf.float32)

cell = tf.contrib.rnn.LSTMCell(lstm_units, initializer = init)
unused_encoder_outputs, encoder_state =tf.nn.dynamic_rnn(cell ,source_seq_embedded,seq

[2018-06-09 20:01] stgrue commented on #56
Since the maintainers of this repository have already solved the LSTM conversion problem, I have not continued working on this issue, so I cannot help you with your problem. Sorry.

[2018-06-11 01:07] tjingrant commented on #167
@inakinavarro @nmakhotkin hi, a tentative PR to address this issue has been created https://github.com/onnx/onnx-tensorflow/pull/212.

@inakinavarro I've modified ur original script to use non-strict mode:
[code]

It seems to work now. Let me know if anything breaks and I'll follow up.

[2018-06-11 14:03] inakinavarro commented on #167
@tjingrant Great!! Thanks a lot. I will test it ASAP and let you know.

[2018-06-12 11:11] dli2016 commented on #207
@fumihwh Hi~Is the bug fixed? Or other problems led to the issue? Thanks!

[2018-06-12 13:05] fumihwh commented on #207
Actually, string is not supported in ONNX yet.
It's better if you could remove node using string. But I see your input is `PyFunc/input_3`. Maybe it's hard to remove it.....

[2018-06-13 03:14] dli2016 commented on #207
@fumihwh OK, I see, thanks a lot!

[2018-06-13 03:15] #207 closed

[2018-06-22 01:16] #119 closed

[2018-06-22 14:17] lijing0010 opened #219 "Any limitations for converting trained TF models to ONNX?"
Hi, I'm new to ONNX.
I had a pre-trainned TF model and I want to convert it to ONNX format.
I followed the tutorial， while calling "tensorflow_graph_to_onnx_model", I got an error "NotImplementedError: Conv2DBackpropInput is not implemented."
Is it caused by the deconvolution layer in the tf model?

[2018-06-22 17:29] asarah-github commented on #167
After installing onnx 1.2.2 and converting the ResNet-50 model from https://github.com/onnx/models/tree/master/resnet50 to a TF pb file using `tf_backend.prepare(model, strict=False)`, I tried to run the converted model and got `KeyError: 'pyfunc_0'` error for the `pool1_1` layer.

My understanding was that specifying `strict=False` may cause the network output to change since the semantics may ch

[2018-06-22 17:57] tjingrant commented on #167
@asarah-github the PR has not made its way into any of our existing releases yet. It won't be there if you install a release version of onnx-tensorflow (I'm not sure if you have, or were you confusing onnx with onnx-tf). But anyhow, Can you do a master build of onnx-tensorflow and try again?

[2018-06-22 19:19] asarah-github commented on #167
@tjingrant Sorry for the confusion on the version.  Anyway, I built from master and ran again.  Now the conversion fails with the following error.

[code]

Any ideas?

[2018-06-23 01:06] fumihwh commented on #219
`Conv2DBackpropInput` is not implemented in frontend now.
You can contribute to onnx-tf by following implementation of other operators or use `ignore_unimplemented`.

[2018-06-25 08:12] lijing0010 commented on #219
Hi tjingrant,  isn't "Conv2DBackpropInput " caused by conv2d_transpose?

[2018-06-25 14:01] tjingrant commented on #219
Indeed, this op seems to be quite important, I'll implement this one within 1 week.

[2018-07-02 20:49] yli5 opened #222 "NotImplementedError: StopGradient op is not implemented"
Hi, I am a newer in onnx and onnx-tensorflow. When I convert pre-trained ResNet50 model from tensorflow to onnx, I get the following error:
*NotImplementedError: StopGradient op is not implemented.*

When I set *ignore_unimplemented=True* in *tensorflow_graph_to_onnx_model* function, I get warnings of following ops:

  exception(message)
/usr/local/lib/python2.7/dist-packages/onnx_tf/frontend.py:5

[2018-07-03 01:08] fumihwh commented on #222
There are two cases about unimplemented ops.
1. ONNX does not support that op (We will not go to implement them.)
2. onnx-tf does not have implemented currently (We will but there is no schedule yet. Contribution is welcome.)
   1) op is an ONNX op
   2) op can be implemented by primary ONNX op

Please refer [ONNX Operators](https://github.com/onnx/onnx/blob/master/docs/Operators.md) and [ONNX-TF

[2018-07-09 21:22] Jiaming-Liu commented on #219
@tjingrant Any news for this?

[2018-07-10 17:02] tjingrant commented on #219
Sorry for the delay, will look at it today. In the mean time, do you happen to have an example onnx model that requires conv2d_transpose?

[2018-07-12 23:46] lcskrishna commented on #222
Hello @fumihwh,
Not sure if this is the right place to ask the question? I see that there is a Rsqrt operator in tensorflow that can be splitted into Reciprocal and sqrt ops which are shown as supported by both onnx and onnx-tf. Is there any way that you can support this op?

[2018-07-13 22:39] fumihwh commented on #222
@lcskrishna
FYI, https://github.com/onnx/onnx/wiki/Proposal----Adding-Function-into-ONNX
With same motivation of reducing number of primitive operators, we don't want to add op which can be composited by primary ops. It will be endless, tf has so many ops.

[2018-07-13 23:56] azrael417 opened #224 "Conv2DBackpropInput not Implemented"
**Describe the bug**

Tensorflow does use the cone backprop op for doing the transpose convolutions. I have a generator from a GAN which I cannot convert to ONNX for that reason.

**To Reproduce**

Please create a model with conv_transpose layers and it should trigger the problem.
Here is the error output:

<...>/onnx-tensorflow/onnx_tf/common/exception.py:15: UserWarning: Conv2DBackpropInput is n

[2018-07-17 08:43] keerthanss opened #226 "No module named legacy"
Hi,

I ran the following instructions:
[code]
Thus, I installed both onnx and onnx-tf. To check, I ran test_model.py, that's available in test/backend/. However, I was faced with the error "No module named legacy", in the statement "from onnx_tf.common.legacy import legacy_onnx_pre_1_2"

Based off this [issue](https://github.com/onnx/onnx-tensorflow/issues/173), I figured I must install onnx v1.1.

[2018-07-17 23:09] fumihwh commented on #226
@keerthanss
Because the source at PyPI is outdated.
The error occurs when you are trying to run the latest test(at your local, you might be working with master branch) with old package installed.
If you want to develop onnx-tf and onnx, install from source is recommended. Otherwise, you even don't need to run test.

[2018-07-18 05:43] keerthanss commented on #226
I see! That makes sense. Thank you so much!

[2018-07-19 04:40] #226 closed

[2018-07-23 13:38] nheidloff opened #229 "Conv.W in initializer but not in graph input"
I'd like to use Watson Visual Recognition to generate a CoreML which can be converted via this project into a TensorFlow model, so that I can run it on Android.

I've used this Watson sample to create the CoreML model: https://github.com/watson-developer-cloud/visual-recognition-coreml

Next I converted the model to ONNX via this tutorial: https://github.com/onnx/onnxmltools

When running the impo

[2018-07-23 15:34] fumihwh commented on #229
@nheidloff
It seems your onnx model has some problems. It can't pass the ONNX checker.
Maybe you should ask at onnxmltools.

[2018-07-26 16:26] blagodurov opened #230 "KeyError: dtype('O') in tensorflow_graph_to_onnx_model"
I am trying to convert a TF frozen graph into an onnx file using the instructions on https://github.com/onnx/tutorials/blob/master/tutorials/OnnxTensorflowExport.ipynb

Since I want to convert a TF model with multi nodes to onnx format (see issue for https://github.com/onnx/onnx-tensorflow/issues/203), I've installed the latest onnx-tensorflow inside a TF docker like so:
pip install onnx-tf
wget h

[2018-07-27 00:13] fumihwh commented on #167
@asarah-github I test master version of resnet50 from https://github.com/onnx/models/tree/master/resnet50 and it works....

[2018-07-27 00:34] fumihwh commented on #167
@achalshah20
As warning says `Please configure your pooling operation to only use paddings that correspond to Tensorflow SAME or VALID padding.`.
For example, in pytorch, if you set [1, 3, 5, 5], kernel [3, 3], pads [1, 1, 1, 1], it corresponds to "SAME" in tf.
But if you set pads [2, 2, 2, 2], it doesn't work with default tf func. We should use compatibility mode and calculate pool result by manu

[2018-07-27 19:02] vidyamuthukumar1 opened #231 "Error with input dict when converting from PyTorch -- ONNX -- TensorflowNet"
Hi,

I'd like to convert a model from PyTorch to ONNX to TensorflowNet and it seems like there is a problem with the input dict attribute. Here is the sample code (essentially taken from the ONNX tutorial links at https://onnx.ai/getting-started):

import torch
import torch.onnx
import onnx
from onnx_tf.backend import prepare

---Saving model_pt (which is a PyTorch.nn module)
torch.onnx.export(mod

[2018-07-27 19:16] tjingrant commented on #231
Hi, we probably need to update our tutorial. Things have changed.

TensorflowRep has been much simplified; cf the definition of TensorflowRep here (https://github.com/onnx/onnx-tensorflow/blob/00061329adc996f080163cae5ecaa0dd6748e6c3/onnx_tf/backend_rep.py). Hopefully everything is explanatory there.

[2018-07-27 19:40] vidyamuthukumar1 commented on #231
Thanks, this certainly looks simpler to read. One more thing, what do I change the following line to --
tf_rep = prepare(model_onnx)

Do I still import backend or should I now import backend_rep?

[2018-07-27 19:53] tjingrant commented on #231
I think there's nothing you need to do to that line plus the "import". The only thing to look out for is the missing fields/attrs, which should be self-evident when you look at backend_rep.py

[2018-07-31 02:59] fumihwh commented on #230
@blagodurov
The pb contains too many unsupported ops.
For example, Assert, While Loop. The problem you posted is onnx-tf can't deal with dtype string because of different interpretation between tf and onnx. This can be fixed soon but not while loop.

[2018-07-31 23:38] fumihwh commented on #167
@asarah-github Yes.

[2018-08-01 18:12] chenghaz opened #232 "onnx_tf/handlers/frontend/slice.py args_check error"
**Describe the bug**

The function check whether input[1] and input[2] is constant. But from tf.slice document, the input[1]: begin and input[2]: size just need to be INT32 or INT64 tensor.

**To Reproduce**

import tensorflow as tf

t = tf.constant([1,1,1,1,1,1,1,1,1,1,1,1,1])
slice_begin = tf.constant(1)
g = tf.slice(t, tf.expand_dims(slice_begin, 0), [3])
with tf.Session() as sess:
    sess.run

[2018-08-02 01:14] fumihwh commented on #232
@chenghaz Yes, tf doesn't need input must be a constant but ONNX needs.
https://github.com/onnx/onnx/blob/master/docs/Operators.md#Slice

There is an idea to solve such problem. Use dummy input and `eval()` to get the tensor's value.

[2018-08-02 15:59] cysmith commented on #30
@lukemurray The code you posted exported a .meta but it was empty (39 bytes). I was able to solve this by:
[code]

[2018-08-02 21:25] chenghaz commented on #232
@fumihwh Oh, I noticed that. Thank you for your information!
ONNX AttributeProto seems a little bit weird comparing to tensorflow.

[2018-08-03 02:47] blagodurov commented on #230
@fumihwh
Thank you! Would it be possible to explain briefly why certain ops, like Assert or While loop, are not supported in onnx? What are the difficulties of adding such support? Is it purely lack of time, or are there some fundamental differences between tensorflow and onnx?

[2018-08-03 05:36] InnerPeace-Wu opened #233 "RuntimeError: No schema registered for 'Asin'"
**Describe the bug**

Trying to convert a frozen graph to onnx,
[code]
but gives error:
[code]

**tensorflow pb file**

If applicable, attach the onnx model file in question using Gist, DropBox or Google Drive.

**Python, ONNX, ONNX-TF, Tensorflow version**

This section can be obtained by running `get_version.py` from util folder.
 - Python version: 3.5
 - ONNX version: 1.1.2
 - ONNX-TF version:1

[2018-08-03 06:44] fumihwh commented on #230
@blagodurov
All ONNX operators are listed here https://github.com/onnx/onnx/blob/master/docs/Operators.md
Of course they are working on improving ONNX, for example, support more ops.

[2018-08-03 06:52] fumihwh commented on #233
@InnerPeace-Wu
The error is `RuntimeError: InceptionResnetV2/AuxLogits/Flatten/flatten/Reshape/shape of Reshape is not found in graph consts.!`
Means you are trying to export `Reshape` with dynamic shape attribute (such as a tensor), which is not supported in onnx-tf now.
![image](https://user-images.githubusercontent.com/6838753/43628453-4087857e-9735-11e8-8b7a-a6772cfe2c2d.png)

[2018-08-10 00:47] #232 closed

[2018-08-11 01:03] NestarZ commented on #167
It is now working with `tf_backend.prepare(model, strict=False)`, thanks ! Any downsize to set this flag to False ?

[2018-08-13 17:53] jack9766 opened #235 "NotImplementedError: Unpack op is not implemented when converting tensorflow LSTM to ONNX"
# Describe the bug

When calling `tensorflow_graph_to_onnx_model` on a frozen graph of LSTM, `NotImplementedError: Unpack op is not implemented.` is raised.

# To Reproduce

### ALL scripts and files needed is in [THIS](https://github.com/jack9766/tf_onnx_test) repo.

**Generate checkpoint and graph.proto.**

[This](https://github.com/jack9766/tf_onnx_test/blob/master/tf_lstm.py) tensorflow script

[2018-08-13 18:35] tjingrant commented on #235
Unpack op is not part of ONNX standard. If you have such need, you can add your comment to this issue: https://github.com/onnx/onnx/issues/859.

[2018-08-13 18:35] #231 closed

[2018-08-13 18:39] jack9766 commented on #235
So onnx-tensorflow has a temporary fix for `unstack` mentioned in [this issue](https://github.com/onnx/tensorflow-onnx/issues/10). Is there a way to port that over?

[2018-08-14 20:10] tjingrant commented on #235
Looking at it now. will keep you updated.

[2018-08-16 01:42] fumihwh commented on #235
@jack9766
#236 You can have a try.

[2018-08-16 16:00] jack9766 commented on #235
So I  built from the new source and run `tensorflow_graph_to_onnx_model` and got this error:

[code]

[2018-08-16 16:24] jack9766 opened #237 "KeyError: dtype('O') when converting BiDAF graph to ONNX"
**Describe the bug**

Got `KeyError: dtype('O')` when trying to convert frozen [BiDAF](https://github.com/allenai/bi-att-flow/tree/dev) graph to ONNX.

Full stacktrace:
[code]

**To Reproduce**

I can not publish the frozen graph I used. But here is the script:

[code]

**Python, ONNX, ONNX-TF, Tensorflow version**

This section can be obtained by running `get_version.py` from util folder.
 - Pyth

[2018-08-16 16:40] jack9766 commented on #237
The problem is the tf_type is of `<dtype: 'string'>`.
and `np.dtype` returns `<class 'object'>`
then `NP_TYPE_TO_TENSOR_TYPE` can not handle object type.

Maybe add string type support to onnx?

[2018-08-16 18:10] jack9766 commented on #237
I noticed onnx already supports STRING. so I added the following fix in `onnx-tensorflow/onnx_tf/common/data_type.py`

[code]

[2018-08-16 19:29] tjingrant commented on #237
Thanks, fix is on the way. But since we have not tested extensively for the string type, I suspect this may not be the only problem you will face with string type. Please let us know if you have any follow up issues.

[2018-08-23 04:43] LexXia opened #239 "Questions about class TensorflowRep"
Hi, I am using the "prepare" function to make an ONNX model executed by Tensorflow. I have just fixed a bug:
(code)    tf.import_graph_def(tf_model.graph.as_graph_def(), name='')
AttributeError: 'TensorflowRep' object has no attribute 'graph'

This bug is fixed when I change "tf_model.graph" to "tf_model.predict_net.graph" according to the codes in Issue #167 . However, I am still not understand w

[2018-08-23 05:18] fumihwh commented on #239
I assume you installed by `pip install onnx-tf`.
`predict_net` is not in master branch any more.

[2018-08-23 05:53] LexXia commented on #239
You are right @fumihwh . Thank you for your reply.

After I re-installed the master branch, I can use tf_model.graph. I have also changed tf_model.predict_net.external_input to tf_model.graph, and the codes run well.

BTW, I meet some new warnings after re-installed the master branch:

Fail to get since_version of Acos in domain `` with max_inclusive_version=3. Set to 1.
Fail to get since_version

[2018-08-23 06:13] fumihwh commented on #239
@LexXia Because `Acos`, `Atan`, `Sin` and others are added from opset 7.
If you don't set the opset to 3, you should update your onnx.

[2018-08-23 06:39] LexXia commented on #239
@fumihwh Actually, my onnx version is the latest 1.2.2 and these operators are added in version 1.2.1. I do not set the opset to 3 in my python codes, but I am not familiar with the opset. If I have set the opset to 3, does that mean I use some functions to set the opset? Or the "set" finished in some kinds of ONNX configurations? Thank you.

[2018-08-23 06:51] fumihwh commented on #239
@LexXia
I see. You are trying to run an onnx model exported with opset 3.
Never mind, the warning is harmless.....

[2018-08-23 07:27] LexXia commented on #239
@fumihwh OK. I have tried that with these warnings appear once the prepare function is operated. Anyway, the original question is solved. Thank you!

[2018-08-23 07:27] #239 closed

[2018-08-24 12:00] lygstate opened #240 "NotImplementedError: Rsqrt op is not implemented."
File "E:\CI-Cor-Ready\ai\face-io\webdnn\scripts\venv\lib\site-packages\onnx_tf\frontend.py", line 442, in tensorflow_graph_to_onnx_model
    graph_def, output_node, opset, graph_name, ignore_unimplemented)
  File "E:\CI-Cor-Ready\ai\face-io\webdnn\scripts\venv\lib\site-packages\onnx_tf\frontend.py", line 294, in tensorflow_graph_to_onnx_graph
    "{} op is not implemented.".format(node.op))
  File

[2018-09-02 23:50] fumihwh commented on #240
Yes, Rsqrt is not an ONNX operator. It will not be supported by other frameworks.
If you even want to export it, try `ignore_unimplemented`.

[2018-09-03 18:44] blagodurov opened #242 "Padding issue: VALID instead of SAME"
I am trying to run inference in TF with vgg19 and other models converted with ONNX from caffe2, but I see errors that stem from the padding tag being VALID. When I replace VALID with SAME, the errors go away, and the runs achieve their expected level of accuracy.

Here is how I generate the frozen_graph.pb:
# Obtaining reference models:
wget https://github.com/caffe2/models/raw/master/vgg19/init_n

[2018-09-04 05:32] fumihwh commented on #242
I don't get `replace VALID with SAME`.... Could you explain more?

[2018-09-04 05:50] blagodurov commented on #242
Replacing "VALID" padding with "SAME" padding makes the error go away.
The .pb generated from .onnx:
convolution VALID
convolution_1 VALID
max_pool VALID
convolution_2 VALID
convolution_3 VALID
max_pool_1 VALID
convolution_4 VALID
convolution_5 VALID
convolution_6 VALID
convolution_7 VALID
max_pool_2 VALID
convolution_8 VALID
convolution_9 VALID
convolution_10 VALID
convolution_11 VALID
max_pool_3

[2018-09-04 08:00] fumihwh commented on #242
@blagodurov
Could you output the other params, e.g. each layers input shape and other attrs, to figure out the problem?

[2018-09-06 15:56] blagodurov commented on #242
Sorry, we thought that the padding for convolution nodes is being set in within-op padding value, and we initially skipped the ‘Pad’ node in the pb file. After incorporating info from the 'Pad' nodes, the error went away. Thank you for your help!

[2018-09-06 15:56] #242 closed

[2018-09-09 16:11] ddysher opened #244 "Error in OnnxTensorflowImport.ipynb"
**Describe the bug**

While following [OnnxTensorflowImport tutorial](https://github.com/onnx/tutorials/blob/master/tutorials/OnnxTensorflowImport.ipynb), I've encountered the following error:

[code]

**To Reproduce**

Follow the tutorial to import `super_resolution.onnx`.

**ONNX model file**

https://github.com/onnx/tutorials/tree/master/tutorials/assets

**Python, ONNX, ONNX-TF, Tensorflow ver

[2018-09-09 18:15] tjingrant commented on #244
Hi thanks for the bug report, we noticed it and it's being fixed here: https://github.com/onnx/onnx-tensorflow/pull/243.

[2018-09-09 18:56] tjingrant commented on #237
Closing as no response has been received.

[2018-09-09 18:56] #237 closed

[2018-09-09 18:57] tjingrant commented on #240
Closing as a duplicate of https://github.com/onnx/onnx-tensorflow/issues/86.

[2018-09-09 18:57] #240 closed

[2018-09-09 18:58] tjingrant commented on #235
Closing since the problem has been resolved by the new PR.

[2018-09-09 18:58] #235 closed

[2018-09-09 18:59] tjingrant commented on #222
Closing, same as https://github.com/onnx/onnx-tensorflow/issues/86.

[2018-09-09 19:00] tjingrant commented on #230
Closing due to lack of response and activity.
Also the questions seem to have been resolved.

[2018-09-09 19:00] #230 closed

[2018-09-09 19:01] #222 closed

[2018-09-10 00:28] ddysher commented on #244
@tjingrant Thanks for the quick response!

Is this introduced due to version skew between onnx and onnx-tf?

[2018-09-10 00:39] tjingrant commented on #244
It's because of the newly introduced opset (7, if I remember correctly), which removed explicit broadcasting and embraced numpy style implicit broadcasting. We relied on explicit broadcasting to do bias addition; now since there's no explicit broadcasting, we have to somehow manually imitate it, which is what this PR is about.

[2018-09-10 01:47] ddysher commented on #244
@tjingrant thanks! i'll help verify once it's merged

[2018-09-10 04:32] tjingrant commented on #244
@ddysher merged. Let me know if anything wrong happens.

[2018-09-11 14:52] ddysher commented on #244
@tjingrant I'm still seeing this error.

[code]

I installed onnx_tf via `pip install -e .`. The master branch on my local computer is the latest:

[code]

[2018-09-11 15:39] tjingrant commented on #244
@ddysher it's the same cause, slightly different symptoms.

Basically, the model in question is no longer compliant and the ONNX checker somehow didn't complain. According to https://github.com/onnx/onnx/blob/master/onnx/onnx-ml.proto, opset_import is mandatory (spec doc copied below); but the tutorial model does not specify opset_import, which means we automatically import the latest opset, causi

[2018-09-11 17:12] jack9766 commented on #237
There is a bug with the fix, heres the original fix:

[code]

Here is what it should be:

[code]

if dtype is tf.STRING as Number (7 for tf.STRING) the error this issue mentioned will happen again.

[2018-09-11 19:37] YgRen opened #246 "how to solve the convert problem"
hello,when I use onnx 1.3.0
the warning is
Fail to get since_version of Acos in domain `` with max_inclusive_version=6. Set to 1.
Fail to get since_version of Asin in domain `` with max_inclusive_version=6. Set to 1.
Fail to get since_version of Atan in domain `` with max_inclusive_version=6. Set to 1.
Fail to get since_version of Cos in domain `` with max_inclusive_version=6. Set to 1.
Fail to ge

[2018-09-11 20:11] tjingrant commented on #237
Done in the new PR. Can you verify? https://github.com/onnx/onnx-tensorflow/pull/245

Hope you understand that I'm doing a lot of guess work here since I can't just test it out by running...

[2018-09-11 20:12] tjingrant commented on #246
AFAIK, this is just a warning because these functions are added after opset_version 6.
Let's get @fumihwh 's comment.

[2018-09-12 00:31] ddysher commented on #244
@tjingrant thanks for the analysis. almost all getting started guides about converting onnx to tf point to the tutorial, it would be nice to have it fixed :)

[2018-09-12 01:13] fumihwh commented on #246
First, warning does no harm.
Actually, there are two problems in your description.

1. `AttributeError: 'TensorflowRep' object has no attribute 'predict_net'`
Class `TensorflowRep` no longer has `predict_net`. `graph` instead.

2. `onnx.onnx_cpp2py_export.checker.ValidationError: Input index 3 must be set to consumed for operator BatchNormalization`
The check of your onnx pb is failed. But seems y

[2018-09-12 04:37] tjingrant commented on #244
@ddysher we've notified the tutorial owner; in the mean time, I discussed with folks from the spec repository and decided a simple patch to the ONNX spec will fix this problem immediately; I've implemented the corresponding change of behavior in onnx-tf and I've tested that the super-resolution net seems to be working. We should be able to merge this one quickly.

[2018-09-12 23:34] jack9766 commented on #237
Yep that would work.

[2018-09-18 06:52] parth1595 commented on #167
@achalshah20 @fumihwh @tjingrant @nmakhotkin

I have used the following script fro converting onnx model(.onnx) to tensorflow model(.pb) which @nmakhotkin  has provided but I am getting error while compiling that maybe because of version issues of onnx version which I found in community. But still I am unable to convert to tensorflow model. I have attached the onnx model file here any help will be

[2018-09-18 10:51] parth1595 commented on #167
Hi @nmakhotkin

Thanks for you help I have tested the script you have mentioned and now I am successfully be able to generate the saved_model.pb file(Tensorflow model). But I have just one question here does this one file contains all the meta data and weights. Means I am asking this because I have used this file to directly dump the graph using **import_pb_to_tensorboard.py** utility which is ava

[2018-09-18 12:52] nmakhotkin commented on #167
@parth1595 saved_model.pb contains graph itself and serving signatures: inputs and outputs. For exporting only graph itself (and importing it in tensorboard) you can try export the graph like this:

Export freezed graph:
[code]

Export TF summary graph (so that it can be readable by tensorboard):
[code]
Then start tensorboard, point it to `logdir` and you will see the graph. Hope that helps!

[2018-09-18 15:00] jack9766 opened #253 "How to prevent onnx_tf from forcing NCHW?"
Is there a flag that we can specify to prevent onnx_tf from adding transposes before convolution?

[2018-09-19 01:05] tjingrant commented on #253
This is a recurrent question we keep getting. The fundamental problem here is that ONNX explicitly exclude NHWC operators.

Two points worth mentioning: 1). Depending on your app scenario, this may not be a big deal, since consecutive transpositions between convolutions are likely to be eliminated. 2). I'm wondering how important having NHWC is, and if it is very important, we can add domain exten

[2018-09-19 02:32] jack9766 commented on #253
- The modifications(transpose the convolution kernels) that ONNX makes to convert a NHWC CNN to a NCHW CNN doesn't seem to work.

- For example for this network: https://github.com/aymericdamien/TensorFlow-Examples/blob/master/examples/3_NeuralNetworks/convolutional_network_raw.py

- The CNN starts with a Reshape(-1,28,28,1) which forces the data to be in NHWC, the ONNX conversion does not remove

[2018-09-19 03:53] parth1595 commented on #167
@nmakhotkin  Yeah I have already tried that earlier. My point was that in variable directory there is nor .data and .index file generated. So does's it mean that my onnx model has no weights and bias. Because if i want to do inference of this tensorflow model I will need the meta data and values of weights and biases of each layer. But here I am not getting anything.

Can you please check the mode

[2018-09-19 06:10] nmakhotkin commented on #167
@parth1595 No, frozen graph (.pb) already contains all the weights. And saved_model contains them too (but in slightly different location, in variables directory). I think in our case there are all coeffs/weights are included in saved_model.pb file.
I can check if that saved_model.pb is suitable for serving and the serving itself works correctly (i.e inference). Can you provide some example input

[2018-09-19 06:29] parth1595 commented on #167
@nmakhotkin Ok Great. So do you have any sample model for onnx because this model is too big and it is hard to verify that it is correct or not.

Also if it is possible for you can we have skype chat because with that we can solve the problem and confusions faster. Hope you won't mind that.

[2018-09-19 06:36] nmakhotkin commented on #167
You can use MNIST model I mentioned here earlier: https://github.com/onnx/onnx-tensorflow/issues/167#issuecomment-388946656

And you can use these samples:
[mnist-images.zip](https://github.com/onnx/onnx-tensorflow/files/2395696/mnist-images.zip)

[2018-09-19 06:38] nmakhotkin commented on #167
You can reach me on skype by `Kolyan<underscore>II`

[2018-09-19 06:52] parth1595 commented on #167
Thanks @nmakhotkin I have send you the request will talk regarding this in skype.

[2018-09-19 08:42] parth1595 commented on #167
@nmakhotkin can you provide the script through which you have performed inference.

[2018-09-19 09:41] nmakhotkin commented on #167
I have already compiled `tensorflow_model_server` binary (see https://www.tensorflow.org/serving/setup#optimized-build)

Then run serving something like:
[code]
Note: directory `model` contains dir `1` which in its turn contains `saved_model.pb` and `variables`

Then run the model inference like:
[code]

[2018-09-19 12:06] Ultrawipf opened #254 "Some networks running extremely slow"
I currently need to compare different image classification networks and with the onnx-tf backend some CNNs like resnet50, googlenet or alexnet run extremely slow from the onnx model page.
It takes multiple seconds for a single image (1, 3, 224, 224) to process where it should take milliseconds, which seems feels around 1000x slower than running the same network from a direct tensorflow implementat

[2018-09-19 13:59] tjingrant commented on #254
Would you share please your code, methodology and timing results in benchmarking onnx-tf? And what's your usecase? Are you trying to serve model with onnx-tf?

onnx-tf is not designed to be super fast because once an onnx model goes through onnx-tf, it becomes a tf graph and we expose this tf graph to the user, c.f. our API: https://github.com/onnx/onnx-tensorflow/blob/master/doc/API.md , everythi

[2018-09-19 14:43] Ultrawipf commented on #254
Of course i will share an example to reproduce what i mean. I am working on comparisons of weight compressions and formats.
The thing that takes a long time is not the decoding of the onnx protobuf and graph generation by the prepare method but the actual execution of the tensorflow session. I want to run a lot of test images through the networks and strangely as soon as i take the graph from the

[2018-09-19 16:01] cinastanbean commented on #167
Hey, I got a way to solve this question. Resnet18 is Right...https://github.com/cinastanbean/pytorch-onnx-tensorflow-pb

[2018-09-19 18:29] tjingrant commented on #254
I ran a chrome trace and it points to the compatibility pooling op as the culprit. Some padding configuration in PyTorch and Caffe are not natively supported in Tensorflow, thus we implemented them in python to ensure you can at least run the model precisely with the same original configuration. These ops are executed in single threaded mode in Python; no doubt they are slow.

Using strict=False s

[2018-09-19 19:19] Ultrawipf commented on #254
Thanks for the tests. So it was indeed the pooling operation.
I also tried to set strict=False before but it made no difference here and i got the same warning and slow speed. What is your current onnx-tf version?
I checked the versions again because tf_rep.graph did not exist when it should. Turns out i had 1.1.2 installed via pip and not from source. Uninstalled that and installed from source an

[2018-09-19 19:19] #254 closed

[2018-09-19 19:33] tjingrant commented on #253
I have not actually tried exporting a NHWC CNN before, I would imagine there'll be difficulties. This is among the upcoming things we'd want to do/try out. Will get back to you when I make some progress.

[2018-09-19 23:43] jack9766 commented on #253
So at the moment, is there a way to disable the NHWC to NCHW transformations?

[2018-09-20 07:50] fumihwh commented on #253
@jack9766
Unfortunately, no.

[2018-09-20 09:43] Ultrawipf commented on #254
That sounds great. Tested some different versions of resnet again and all networks that had problems seem to run fine now. The one that failed with strict=False and ran with strict=True was downloaded a few days ago from the model page but might have been replaced since as the current one indeed runs correctly. I am sure onnx-tf is a good option in the future to run different models with tensorflo

[2018-09-21 09:48] parth1595 opened #257 "Converting onnx model to tensorflow model using Saver method fails"
I have already converted the onnx model to tensorflow model using SaveModelBuilder method and it works fine. But I want the final pb to be which should be generated using .meta .data and .index file and should be directly be able to load in tensorboard utility using **import_pb_to_tensorboard.py**

Here is the snippet code which I have tried to generate tensorflow model using Saver method:

    on

[2018-09-21 10:17] parth1595 commented on #30
Can we get other files similar to like this you have created .meta file. I would like to have all the tensorflow model files if we can (eg. .meta, .data, .ckpt ) which we generated using Saver method in tensorflow.

[2018-09-21 14:34] chenyuZha commented on #137
Hello , I have the same problem when I run my *.onnx file : `NotImplementedError: InstanceNormalization op is not implemented.
`
Any suggestion to solve this?

[2018-09-21 17:52] tjingrant commented on #257
Have you checked out our API doc: https://github.com/onnx/onnx-tensorflow/blob/master/doc/API.md ?

Specifically, the export_graph method.

[2018-09-22 08:17] parth1595 commented on #257
@tjingrant I think the export_graph method will only generate meta data.

[2018-09-22 12:33] fumihwh commented on #257
@parth1595 I think you got `ValueError: No variables to save` because you need to init variable before call `saver = tf.train.Saver()`.

[2018-09-22 12:42] parth1595 commented on #257
@fumihwh Yes I know but what i think there are no variables after we perform **tf_rep = prepare(onnx_model)**. But I am not sure of this if you know how to do this then please help me to solve this.
Thanks

[2018-09-22 13:54] fumihwh commented on #257
@parth1595 I do *import_to_tensorboard* successfully.
[code]

Then `tensorboard --logdir=tb_log`

[2018-09-22 13:55] chenyuZha commented on #137
@fumihwh by `pip3 install onnx-tf`, il seems that InstanceNormalization haven't been implemented int the `backend.py`

[2018-09-22 13:57] fumihwh commented on #137
@chenyuZha Could you install from source then try again?

[2018-09-23 00:44] jack9766 commented on #253
I fixed the conversion by adding 2 more transposes like I mentioned above. ONNX_TF only insert a transpose for the convolution kernel but you also need a transpose for the convolution input and a transpose after the convolution output to reverse it to NHWC.

[2018-09-23 07:36] Coderx7 commented on #231
@vidyamuthukumar1 Hi did you solve this? ,I'm getting the same error:
[code]

Whats wrong here? how can I solve this?
Thanks in advance

[2018-09-24 03:44] parth1595 commented on #257
@fumihwh are you able to do inference using that pb successfully in tensorflow or not ?

[2018-09-24 06:05] fumihwh commented on #257
@parth1595 At least, I succeeded in doing inference by using onnx-tf backend.

[2018-09-24 06:07] parth1595 commented on #257
@fumihwh Can you tell me the method how to do inference using onnx-tf backend ?

[2018-09-24 06:08] fumihwh commented on #231
@vidyamuthukumar1 In master branch, you can get inputs by `tf_rep.inputs`. For more details, please see https://github.com/onnx/onnx-tensorflow/blob/master/onnx_tf/backend_rep.py

[2018-09-24 06:12] fumihwh commented on #257
@parth1595 Just call `tf_rep.run`.

[2018-09-24 09:10] chenyuZha commented on #137
I re-installed from source by `git clone https://github.com/onnx/onnx-tensorflow.git ` then `python setup.py install`, but I didn't solve the problem..And I also re-installed `onnx`  from source

[2018-09-24 10:36] chenyuZha commented on #137
@fumihwh That works! thanks a lot!

[2018-09-24 14:52] chenyuZha commented on #257
@fumihwh  I have export the model onnx to model tensorflow (.pb), but when I tried to run the inference  by calling this model tensorflow (.pb), I had the problem between **NHWC** and **NCHW.** As you see, the onnx model is arranged like NCHW  but tensorflow model is NHWC..
So when I load my image by opencv to feed my input_tensor, I have this problem:
`ValueError: Cannot feed value of shape (512,

[2018-09-24 15:03] chenyuZha commented on #253
@jack9766 Hello I faced the same problem between the format **NCHW** and **NHWC**. I have questions about the format of your input data: before you feed it to input tensor, you have already permute the channels  ? (like NHWC to NCHW)

[2018-09-24 16:56] jack9766 commented on #253
@chenyuZha There are different ways to do it but I kept the formats exactly the same as the original NHWC network and only insert 2 transposes before and after all convolutions to convert to NCHW on the conv input(`perm=(0,3,1,2)`) and reverse to NHWC(`perm=(0,2,3,1)`) on the conv output. ONNX automatically insert transpose for the convolution kernels so you don't need to do any thing there.

[2018-09-25 06:18] fumihwh commented on #257
@chenyuZha Maybe this will help? https://github.com/tensorflow/tensorflow/issues/20405

[2018-09-25 08:40] chenyuZha commented on #253
@jack9766 Thanks for your response. I have done the modifications for my input tensor:
`input_tensor = graph.get_tensor_by_name('0:0'),
input_tensor_permu = tf.transpose(input_tensor,[0,2,3,1])
,output = sess.run(output_tensor,feed_dict={input_tensor_permu:img_extend})
`
But I still can't figure out how to modify(insert) the node intermediate in the graph? Should I apply `tf.contrib.graph_editor()

[2018-09-26 16:33] mvermeulen opened #259 "Failures using onnx-tf on onnx model zoo models"
I get failures when trying to use released version of onnx-tf + released version of onnx + tensorflow on examples in the onnx model zoo saved onnx files.

Here is an example of what I see trying resnet50:

prompt% python3 inference_tf_backend.py
Traceback (most recent call last):
  File "../../inference_tf_backend.py", line 14, in <module>
    np.testing.assert_almost_equal(outputs,backend.run_mod

[2018-09-26 18:19] tjingrant commented on #259
Hi this is a known issue from onnx side actually. Building from master should fix it, or alternatively, bumping onnx version alone should fix it.

This is one of the features ONNX (correctly) abandoned during its development. In general, you should expect quite high interoperability between model zoo and onnx-tf backend. If you are using imagenet models, I'd expect all of them to work out of the b

[2018-09-26 21:42] mvermeulen commented on #259
Updating to onnx 1.3 (or onnx 1.2.3) fixes the issue described below. Thanks.

I can now demonstrate running the model zoo example for resnet50 model using the onnx-tf backend and tensorflow, so this issue can be closed.  [Note: The results don't compare, but there are multiple pieces involved and so I'll narrow that with smaller cases and as necessary file an issue on appropriate piece that might

[2018-09-27 04:12] #257 closed

[2018-09-27 12:37] wwwanghao opened #261 "NotImplementedError: Split is not implemented"

[2018-09-28 06:29] ningningG commented on #167
I am coverting a Resnet18 model from mxnet to tensorflow. But there are some problems with the tensorflow pb file generated. When use the .pb file to predict,  the error raised:

[code]

Here is the code(onnx->tensorflow):
[code]

The code above will print the following information:
[code]

But when I load the .pb file to predict using following code, error raised.
[code]

Any ideas?

[2018-09-28 13:54] fumihwh commented on #261
Please provide more information.
And as https://github.com/onnx/onnx-tensorflow/blob/master/doc/support_status.md, split should be supported already.

[2018-09-28 19:47] tjingrant opened #262 "Cut a release"
cc @fumihwh  @chinhuang007 @winnietsang

I'll cut an incremental minor release (v1.2.0) very soon and upload to pip.

Best wishes,
Tian Jin.

[2018-09-29 04:52] fumihwh commented on #167
@ningningG Did you try `strict=False` flag? You can get more info by reading above comments.

[2018-09-30 03:05] jycccccccc opened #264 "NotImplementedError: DepthwiseConv2dNative op is not implemented"
Excuse me. I want to know if the depthwiseconv2d op is implemented in onnx-tf. I run the onnx_tf.frontend.tensorflow_graph_to_onnx_model command and it threw out 'NotImplementedError: DepthwiseConv2dNative op is not implemented'.

[2018-09-30 05:42] Mu7ammad commented on #261
I'm facing this same error here while trying to convert a frozen TensorFlow model to ONNX. I attach here a tiny example model which is an RNN that has a single output named "output". Using the conversion function tensorflow_graph_to_onnx_model( .. ) as per tutorial, and setting output node to "output", it gives me a "Split op not implemented" Error.
I wonder if that's related to having the older s

[2018-10-01 03:26] fumihwh commented on #261
@wwwanghao @Mu7ammad I got the bug and am working on this now.

[2018-10-01 04:50] tjingrant commented on #264
Hi @jycccccccc there's an issue template. Please fill it out so that we can have a test case to work with.

[2018-10-01 04:51] tjingrant commented on #262
Seems to be done. pip install works. release tagged and release note is included.

[2018-10-01 04:51] #262 closed

[2018-10-01 18:13] jsigee87 opened #268 "Problem in TF Backend Conversion"
**Describe the bug**

I successfully converted several CoreML models to ONNX and then to Tensor Flow with the same code, but this small and simple model fails on a key error when the prepare function is building the graph. Looks like a key error in the ONNX Node, but didn't finish tracing it.

[code]

**To Reproduce**

Please give us instructions to reproduce your problem.

Download an mlmodel fro

[2018-10-01 18:58] tjingrant commented on #268
Hi, since you mentioned it, could you upload the onnx model in question so that we don't have to install onnx-coreml? By looking at it, it's a neural network based model, but somehow it used some operators from onnx.ai.ml domain, which is for classical machine learning algorithms. Very weird model to begin with, but I have to actually look at the onnx file to get a definitive answer.

[2018-10-01 19:01] jsigee87 commented on #268
You got it, I hosted it on my google drive [here].(https://drive.google.com/file/d/1QtzukAPLb_MjB7KXELtHXonYPU24Yot4/view?usp=sharing)

[2018-10-01 19:46] tjingrant commented on #268
Several problems:

- There is an op "ImageScalar" that are explicitly marked as "experimental" in the onnx spec; when you have onnx models using experimental ops, you obviously shouldn't expect the models to inter-operate well.

- In addition, this is a neural network model, but makes use of ops in onnx.ai.ml, which is for, and I quote the onnx spec:

So there's no reason to expect support for cla

[2018-10-01 20:08] jsigee87 commented on #268
Thanks for looking into this. This MNIST model was downloaded from a 3rd party source and I was attempting to use it as a test model. I have no control over how this model is defined within CoreML, or even ONNX (as it was converted to ONNX with ONNX tools). CoreML also does not allow such control over architecture, and I am not familiar enough with ONNX to figure out why it was converted this way.

[2018-10-01 20:29] tjingrant commented on #268
I feel like testing out other models might be worth trying.

Also i'm curious, why start from CoreML when you'll end up in Tensorflow anyways? Are you looking to go from Tensorflow back to CoreML afterwards?

In general, onnx_tf backend should be robust enough to fulfill your requirements and I agree that ONNX is the right tool to do what you want.

[2018-10-01 20:31] #259 closed

[2018-10-01 20:58] jsigee87 commented on #268
Fair question, the larger picture is ML development for ios apps. The workflow is make ML model -> convert to CoreML and integrate, then come back later and compress the CoreML model as time allows. The compression is recently added to the workflow, hence my attempts. Sadly, my models will likely already be in CoreML form, and will have to return to CoreML form.

Since this is a one-off and I have

[2018-10-01 20:58] #268 closed

[2018-10-02 14:13] AShedko commented on #264
See PR #266.

[2018-10-02 17:08] winnietsang opened #269 "Add EyeLike handler to the backend"
@tjingrant I would like to add in the EyeLike support to the backend handler

[2018-10-02 23:15] vibhuagrawal14 commented on #254
Hello. I am trying to use googlenet built in MATLAB exported to tensorflow through onnx. The same classification task that takes 5 seconds in MATLAB is taking about 300 seconds in tensorflow. I did try it with strict=False, and there was no difference whatsoever. Would you be able to help? Attaching code below:

[code]

[2018-10-03 19:30] vibhuagrawal14 opened #271 "Googlenet running very slow"
An implementation of GoogLeNet which takes about 0.05 seconds in MATLAB to classify an image, is taking about 0.95 seconds in onnx-tf. As mentioned in issue #254 , I have tried strict=False, but there was no change in performance.

**To Reproduce**

Attaching code here:

[code]

**.mat file here**: https://drive.google.com/open?id=1P5LpxosVRwbz4bGe4oBZflPYDzB9RD0z

**onnx model file here**: https:

[2018-10-03 22:45] fumihwh commented on #271
Does your time (0.95s) include the init part `tf_rep = prepare(model,strict=False)`?

[2018-10-03 22:47] vibhuagrawal14 commented on #271
No, the time of 0.95 seconds is only for the statement `tf_rep.run(img[np.newaxis,:,:,:])`.

[2018-10-04 03:17] tjingrant commented on #271
It's mostly tensorflow trying to setup GPU context. Below is the GPU trace from nvvp.

If we keep the same tensorflow session and do 100 consecutive run on your googlenet, the time grows to 2.23s for 100 calls, averaging 22.3 ms each.

![image](https://user-images.githubusercontent.com/6410074/46450984-2833b580-c762-11e8-9c2f-eb0d485b5d7c.png)

[2018-10-04 04:30] tjingrant commented on #271
Please bear with my ignorance but why is 0.95s not good enough? 350*0.95s is barely 6 min.

If you really want, try increase the batch size dimension when you export the model from matlab and then batch the images together into a large mini-batch of size 350.

[2018-10-04 04:34] vibhuagrawal14 commented on #271
6 min for 350 images would be really bad for my specific application. The classification task isn't too demanding computationally, and I would like to keep the time taken at a minimum. I will try what you suggested.

But still. I would really like to know how I can do consecutive runs of the Googlenet with the same tensorflow session. Thanks!

[2018-10-04 04:43] tjingrant commented on #271
It's not possible with the current onnx_tf API, I basically modified tf_rep to test out my hypothesis that most of the time is wasted in GPU setup.

To allow persistent tf session across multiple runs, we would need to update our API. This is not very difficult, but may take some time for us to think through the consequences and implications (e.g., how to test this new API is also a bit of a heada

[2018-10-04 05:28] vibhuagrawal14 commented on #271
Thank you for your inputs. Would it be possible to share the modified API that you created for testing out your hypothesis? Even if it isn't fully tested, it would be of great help to me and I can work on it further.

[2018-10-04 06:03] fumihwh commented on #271
@vibhuagrawal14
Current idea is let tf_rep to hold sess. For example, add `tf_rep.sess = tf.Session(graph=tf_rep.graph)` to `backend.py` L163.
And in `run`, use `self.sess` instead of `tf.Session()`

[2018-10-04 07:40] fumihwh commented on #271
@vibhuagrawal14 Try refed PR.

[2018-10-08 17:52] feiwang3311 commented on #259
There are 4 Tensors in batch normalization layer, can anyone tell me which is input mean and variance, and which is learn-able parameter scale and shift?
"gpu_0/res_conv1_bn_s_0"      --- all positive
"gpu_0/res_conv1_bn_b_0"      --- some positive, some negative, relatively large absolute value
"gpu_0/res_conv1_bn_rm_0"    --- some positive, some negative, relatively small absolute value
"gpu_0/r

[2018-10-08 19:18] uhvardhan opened #374 "onnx export to tf error"
I am trying to export a onnx model to tf. Here is the code:

`import onnx
from onnx_tf.backend import prepare

##### Load the ONNX file
model = onnx.load('model.onnx')

##### Import the onnx model to Tensorflow
tf_rep = prepare(model)

##### Input nodes to the model
print('inputs:', tf_rep.inputs)

##### Output nodes from the model
print('outputs:', tf_rep.outputs)

##### All nodes in the model
pr

[2018-10-08 22:11] blagodurov opened #276 "TypeError: Cannot convert value 0 to a TensorFlow DType."
I am trying to convert a pspnet TF .ckpt into an onnx file. I have downloaded pspnet cityscapes TF .ckpt from:
https://github.com/hellochick/PSPNet-tensorflow
https://drive.google.com/drive/folders/1S90PWzXEX_GNzulG1f2eTHvsruITgqsm?usp=sharing

However, I got the following error when issuing the conversion:
import tensorflow as tf
from onnx_tf.frontend import tensorflow_graph_to_onnx_model
with tf

[2018-10-08 23:46] fumihwh commented on #259
@feiwang3311 https://github.com/pytorch/pytorch/blob/master/caffe2/python/layers/batch_normalization.py#L51

[2018-10-08 23:56] fumihwh commented on #276
@blagodurov
Could you use following source to create freezing graph and share to us?
[code]

[2018-10-09 04:48] blagodurov commented on #276
Here it is: https://www.dropbox.com/s/vsdl4ov0nh0727l/pspnet101.pb?dl=0

minimal_graph = tf.graph_util.convert_variables_to_constants(sess, sess.graph.as_graph_def(add_shapes=True), ['output'], )
gave the following error: AssertionError: output is not in graph

So I used the code below to generate:
import tensorflow as tf
from onnx_tf.frontend import tensorflow_graph_to_onnx_model
with tf.Session(

[2018-10-09 05:04] fumihwh commented on #276
@blagodurov Yes, you should replace 'output' with your output names.
And do you have pspnet50?..pspnet100 too large to open in Netron.

[2018-10-09 19:12] blagodurov commented on #276
Here you go: https://www.dropbox.com/s/pojkggbjs6drvk0/pspnet50.pb?dl=0

[2018-10-10 01:43] fumihwh commented on #276
@blagodurov BTW, you should set output name explicitly.
Not just
[code]

[2018-10-10 08:43] peteryang1 opened #278 "When converting tf model to onnx: get"RuntimeError: No schema registered for 'Acos'!""
When I convert a tensorflow model to onnx model, the error below occurs:
==

Traceback (most recent call last):
  File ".\tf2onnx_convertor.py", line 32, in <module>
    tf2onnx('.\\ckpt\\inception_v2.pb','result','.\\ckpt')
  File ".\tf2onnx_convertor.py", line 14, in tf2onnx
    opset=6)
  File "D:\software\python3.6\lib\site-packages\onnx_tf-1.2.0-py3.6.egg\onnx_tf\frontend.py", line 399, in te

[2018-10-10 11:43] fumihwh commented on #278
@peteryang1 Acos is added from opset 7. ad hoc fix will be remove `opset=6` from your code if there is no particular reason.

[2018-10-10 22:41] fumihwh commented on #278
@tjingrant I would like to use a `try` block to catch the exception first.
Second, change the code that warning user only their graph has corresponding node.

[2018-10-10 22:44] fumihwh commented on #271
@vibhuagrawal14 Any updates?

[2018-10-11 23:37] chinhuang007 opened #280 "Use consistent op names in opset_version.py"
The op names in frontend_tf_opset_version are all in lower case with underscore between words, not consistent with the op names in backend_opset_version and frontend_opset_version. The tf op names in the frontend handlers are all in connected proper case such as @tf_op("MatMul") and @tf_op("MaxPool") matching the node.op in Tensorflow GraphDef. There might be historical reasons but it seems confus

[2018-10-12 01:28] chinhuang007 commented on #280
Looks like the op names in frontend_tf_opset_version are intended to map to the tf python API. Some are wrong anyway, for ex mat_mul in our py vs matmul in tf python API. I think this list should map to the operator names persisted in the graph, not the python API, because we use the persisted op names to find the frontend handlers.

[2018-10-12 16:48] ehsab commented on #167
Did you manage to solve the problem? I have the same issue. When I use strict=False it works but it doesn't predict correctly. For every single input the output is the same. But when I don't use strict=False I got the same error as you did.

[2018-10-12 17:00] ehsab opened #281 "Converted model from onnx to tensorflow has the same output for different input"
I am trying to convert pretrained resnet18 from torchvision model zoo to tensorflow using onnx.
I could convert the model, but the tf model always predicts the same thing for any input.

I used the following code :

[code]

Any idea?

[2018-10-12 17:06] tjingrant commented on #281
Hi @ehsab , there's an issue template, if you fill in the required information, you'd get a useful response much faster. Specifically, would be very nice to have the onnx model in question.

[2018-10-12 17:11] ehsab commented on #281
Thanks for letting me know. @tjingrant . I couldn't find the template but I attached the onnx model here.

[onnx model](https://1drv.ms/u/s!Asvf9EO9vyDxlJUI5eqRixWGSNCITw)

[2018-10-12 23:33] fumihwh commented on #281
@ehsab How did you do inference? Any code will help.

[2018-10-13 03:52] tjingrant opened #283 "Support strided slice"
cc @fumihwh

[2018-10-13 08:45] fumihwh commented on #261
@wwwanghao @Mu7ammad Should be fixed now. If the problem still exists, feel free to reopen this issue.

[2018-10-13 08:45] #261 closed

[2018-10-13 08:46] #264 closed

[2018-10-13 09:42] ningningG commented on #167
@fumihwh  Thank you for your reply,I have tried strict=False flag, but it doesn’t work. I tried the mmdnn of Microsoft, and the problem is solved.

[2018-10-13 17:03] fumihwh commented on #167
@ningningG Sorry that I couldn't help you. I am very interesting in how mmdnn deals with padding things.
Is output correct?

[2018-10-15 05:43] ningningG commented on #167
@fumihwh The output is correct. But when converting the model I trained, a mxnet parser problem occured.  When converting the pretrained model downloaded from the Internet, it works.

[2018-10-15 07:44] peteryang1 opened #289 "getting wrong model while converting tensorflow to onnx"
**Describe the bug**

while converting a tensorflow model to onnx, I get a wrong model.
tf.conv2d uses NHWC format, but onnx uses NCHW as default. In my tf model ,I use reshape to get a tensor like (1,28,28,1), then put it into a conv2d node, when i convert it to an onnx model, it goes wrong.

any idea how to deal with it?

**To Reproduce**

Please give us instructions to reproduce your problem.
t

[2018-10-15 13:50] fumihwh commented on #289
@peteryang1 You're right. I will add pre-transpose and post-transpose to make the data format correct.

[2018-10-15 14:32] fumihwh commented on #289
@peteryang1 Could you try #290

[2018-10-15 15:39] ehsab commented on #281
I use the following script. I should mention that this script works if I get the accuracy of original TF resnet50. It also works when I manually convert resnet18 to keras to TF. But, when I use onnx to convert pytorch original resnet18 to TF it doesn't work. It keeps predicting almost the same output for any input images.

p.s.
I already mentioned the code (see above) that I used to convert pytorc

[2018-10-15 15:41] ehsab commented on #167
I used [this ](https://github.com/onnx/onnx-tensorflow/issues/281#issuecomment-429905364)to evaluate the accuracy.

[2018-10-16 18:10] blagodurov commented on #276
Thank you! Now I see a different error in tensorflow_graph_to_onnx_model():
2018-10-16 18:05:18.433930: I tensorflow/core/platform/cpu_feature_guard.cc:141] Your CPU supports instructions that this TensorFlow binary was not compiled to use: FMA
INFO:tensorflow:Restoring parameters from /notebooks/pspnet101.ckpt/model.ckpt-0
/notebooks/onnx-tensorflow-master/onnx_tf/handlers/handler.py:35: UserWarn

[2018-10-16 18:16] tjingrant commented on #276
Seems like you have some training related nodes. We do not have support for ReadFile Op and we should not have support for it. Maybe try removing training nodes first? c.f. https://www.tensorflow.org/api_docs/python/tf/graph_util/remove_training_nodes

[2018-10-16 19:19] blagodurov commented on #276
It looks like remove_training_nodes() only strips away Identity and CheckNumerics nodes: https://github.com/tensorflow/tensorflow/blob/r1.11/tensorflow/python/framework/graph_util_impl.py

So onnx conversion is only for inference, correct? It is not meant for training models? Thanks!

[2018-10-17 10:58] peteryang1 commented on #289
I think it's not the Conv node which makes this issue, It's the reshape node.your code still doesn't make the right model.

Instead i did some change in my code, after your code I make some change, then i got the right model.

the script is below:

[code]

But I'm still not sure whether this function fits all the circumstances.

[2018-10-17 18:32] blagodurov commented on #276
So I checked, and it appears I only have one ReadFile op in the graph, in the very beginning... Why do you say that ReadFile is a training related op? According to [1] all it does is it reads and outputs the entire contents of the input filename. If you do image inference, wouldn't you still need to read the image file? Thanks!

[1] https://www.tensorflow.org/api_docs/cc/class/tensorflow/ops/read-

[2018-10-17 22:37] blagodurov commented on #276
I will create a separate issue for it. Thanks!

[2018-10-17 22:37] #276 closed

[2018-10-17 22:50] blagodurov opened #291 "NotImplementedError on multiple ops"
I am trying to convert multiple frozen_graph .pb files into .onnx files. The frozen graph .pb files were generated in two ways:

1. from .onnx file with:
[code]

2. From SavedModel Tensorflow format with tf.graph_util.convert_variables_to_constants()

I use tensorflow_graph_to_onnx_model to convert to .onnx. I see the following errors:

Traceback (most recent call last):
  File "/notebooks/onnx-te

[2018-10-18 00:31] fumihwh commented on #291
@blagodurov
First, ONNX doesn't support `ReadFile`, `StopGradient`, `Where`, of course `PyFunc`, now. But you could use `ignore_unimplemented` to ignore these. Take care the exported model is not an ONNX model strictly (contains unsupported op and can't pass the check).

Second, I don't try yet but `PadV2`, `LRN`, `Rsqrt` should be OK.
And limited `StridedSlice` is added from opset v9 because it u

[2018-10-18 01:09] chinhuang007 commented on #280
The issue is addressed by https://github.com/onnx/onnx-tensorflow/pull/282, therefore closed.

[2018-10-18 01:09] #280 closed

[2018-10-18 05:08] peteryang1 commented on #289
maxpool is dimension restricted, why don't you add transpose around maxpool node?

[2018-10-18 06:43] peteryang1 commented on #289
I think your function makes the model much slower because you add too much transpose node.

[2018-10-18 06:51] fumihwh commented on #289
@peteryang1 In that PR we just fix Conv, patch for PoolOp will come later.
You can use [optimizer](https://github.com/onnx/onnx/blob/master/docs/Optimizer.md) to fuse consecutive transposes.

[2018-10-18 08:50] wangyunxiaa opened #293 "onnx datatype are int64 or float32, onnx_tf always generate float tensor"
When i am converting the onnx model (which is converted from pytorch) to tensorflow,I got a error as following:
TypeError: Value passed to parameter 'indices' has DataType float32 not in list of allowed values: int32, int64
I check the network, and i found that,my pytorch model's input is a LongTensor, when i conver it to onnx,the op's type is int64, but when i do tensorflow rep_tf it changed to f

[2018-10-18 11:12] fumihwh commented on #293
@wangyunxiaa
I tried and `onnx2tf` works well.
[code]
Could you give us a simple pb to test?

[2018-10-18 23:44] blagodurov commented on #291
@fumihwh Thank you for your help! Now I use the following invocation to convert to .onnx:
`tensorflow_graph_to_onnx_model(graph_def, output_node_names, ignore_unimplemented=True)`

1. I see that ignore_unimplemented=True helped for most of the frozen_graph .pb files generated with
[code]
Except for one .pb file that gave the following error:
[code]
I assume this is because of custom PyFunc in it?

[2018-10-19 01:06] fumihwh commented on #291
@blagodurov
#296 will fix first error `TypeError: iteration over a 0-d array`.

Could you try `str("_output_shapes")` or `"_output_shapes".encode("ascii")`  in frontend.py L193?
[code]

[2018-10-19 02:06] wangyunxiaa commented on #293
the model path is [https://github.com/wangyunxiaa/model/](url)
ptb.new is pretraind pytorch model, the lm.onnx is converted onnx model.
the input of the pytorch is just as one batch "input = torch.LongTensor([[m,n]]), lengths = torch.LongTensor([n-1])"
printed onnx struct:
`graph torch-jit-export ( ) initializers (
  %input_1[INT64, 1x2]
  %input_2[INT64, 1]
  %learned_0[FLOAT, 10001x200]
  %learn

[2018-10-19 03:11] fumihwh commented on #293
@wangyunxiaa
Seems some bug exists in `onnx.load`.
After `model = onnx.load("lmmodel.onnx")`, I get "input_1" by `[init for init in model.graph.initializer if init.name == "input_1"]` which should be `int64` but data type is float.
I will follow this issue, please let me know if any updates you get.

[2018-10-19 06:31] wangyunxiaa commented on #293
my environment "python:3.6.6, torch:1.0.0, onnx:1.3.0,pytorch and onnx all installed by source",
when i convert the torch model to onnx, there are some ops donot supported,I just add 2 functions in symbolic.py as follwoings:
`@parse_args('v', 'v', 'v', 'i', 'i')
def nll_loss(g, input, target, weight, reduction, ignore_index):
    # target = _maybe_get_scalar(target)
    # weight = _maybe_get_scala

[2018-10-19 06:40] fumihwh commented on #293
@wangyunxiaa BTW，your model is too big to test... It'd be better if use small one instead. (e.g. 20 * 20, 80 * 20)

[2018-10-19 06:43] wangyunxiaa commented on #293
sorry,the model is not trained by myself,I just do the convert work, It is a language model,and has LSTM units,so it is so big

[2018-10-19 07:10] fumihwh commented on #293
@wangyunxiaa
From doc,
`torch.onnx.export(model, dummy_input, "alexnet.onnx", verbose=True, input_names=input_names, output_names=output_names)`
Did you pass correct input_names ? e.g. `input_names=["learned_0", "input_1"]`

[2018-10-19 07:36] wangyunxiaa commented on #293
I used following codes when converting pytorch to onnx:
`input_names = ["input_1", "input_2"] + ["learned_%d" % i for i in range(8)]
output_names = ["output"]

torch.onnx.export(lang_model, (inputs, lens), "lmmodel.onnx", verbose=True, input_names=input_names, output_names=output_names)
# torch.onnx.export(lang_model, (inputs, lens), "./lmmodel.onnx", verbose=True, input_names=None, output_names=N

[2018-10-19 07:41] fumihwh commented on #293
@wangyunxiaa ..Please edit your comment.. I can't get which command you use to export.
And update the model at your repository.

[2018-10-19 07:51] fumihwh commented on #293
@wangyunxiaa Could you also give the original one? The one exported by `input_names=None`.

[2018-10-19 07:52] wangyunxiaa commented on #293
the code i used to convert model
`lang_model.eval()
lang_model.criterion.nce = False

inputs = torch.LongTensor([[1, 2]])
lens = torch.LongTensor([1])

output = lang_model.forward(inputs, lens)

input_names = ["input_1", "input_2"] + ["learned_%d" % i for i in range(8)]
output_names = ["output"]

torch.onnx.export(lang_model, (inputs, lens), "lmmodel.onnx", verbose=True, input_names=input_names, o

[2018-10-19 07:55] wangyunxiaa commented on #293
the output of above codes:
`graph(%0 : Long(1, 2)
      %1 : Long(1)
      %2 : Float(10001, 200)
      %3 : Float(800, 200)
      %4 : Float(800, 200)
      %5 : Float(800)
      %6 : Float(800)
      %7 : Float(200, 200)
      %8 : Float(10001)
      %9 : Float(10001)) {
  %10 : Float(1, 2, 200) = onnx::Gather(%2, %0), scope: RNNModel/Embedding[encoder]
  %11 : Float(1, 2, 200) = onnx::Slice[axe

[2018-10-19 07:56] wangyunxiaa commented on #293
the onnx struct of input_names=None:
`graph torch-jit-export ( ) initializers (
  %0[INT64, 1x2]
  %1[INT64, 1]
  %2[FLOAT, 10001x200]
  %3[FLOAT, 800x200]
  %4[FLOAT, 800x200]
  %5[FLOAT, 800]
  %6[FLOAT, 800]
  %7[FLOAT, 200x200]
  %8[FLOAT, 10001]
  %9[FLOAT, 10001]
) {
  %10 = Gather(%2, %0)
  %11 = Slice[axes = [0], ends = [9223372036854775807], starts = [0]](%10)
  %12 = Slice[axes = [1], en

[2018-10-19 07:58] wangyunxiaa commented on #293
I can do the export and chek the onnx model by `onnx.checker.check_model(model)`
and `print(onnx.helper.printable_graph(model.graph))`
but  connot do `tf_rep = prepare(model)` which will cause an error:
`TypeError: Value passed to parameter 'indices' has DataType float32 not in list of allowed values: int32, int64`

[2018-10-20 00:45] fumihwh commented on #291
@blagodurov I see. It's not the key problem. Seems the node `init` doesn't have `_output_shapes`.
Could you give a simple sample pb for this problem?

[2018-10-20 01:35] fumihwh commented on #293
`check_model` will only check your model's structure, not variables.
`input_1` value in your graph is mismatching with its dtype.
You could use https://lutzroeder.github.io/netron/ to view your model.
![image](https://user-images.githubusercontent.com/6838753/47249839-c3f83d80-d453-11e8-8661-33de2580be48.png)

[2018-10-20 01:50] fumihwh commented on #293
@wangyunxiaa
I think your model's inputs are not `(inputs, lens)`. `(inputs, lens)` are just the arguments for method `forward`.
There should be some processors before you pass `(inputs, lens)` to your model.
You should check `forward` method to find out real inputs.

[2018-10-20 01:55] fumihwh commented on #293
@wangyunxiaa
![image](https://user-images.githubusercontent.com/6838753/47250007-54d01880-d456-11e8-9cc0-512ee0661a57.png)
From above screen shot, I advise you do following to export.
[code]

[2018-10-21 11:16] talc23 opened #297 "ConvTranspose bias tensor dimensions are not aligned with spec"
**Describe the bug**

according to spec B.shape==[C] where C is the input's number of channels.
however model building is failing unless B.shape==[M] where M is the output's number of channels.

I think that maybe B should be accumulated and then broadcasted across Conv2DBackpropInput output. right now B is added as is to Conv2DBackpropInput output

**To Reproduce**

import onnx.helper as helper
f

[2018-10-21 11:53] fumihwh commented on #297
@talc23
The spec maybe incorrect.
Pytorch: https://pytorch.org/docs/stable/nn.html#torch.nn.ConvTranspose2d
Tensorflow: https://github.com/tensorflow/tensorflow/blob/f43d458a318d4d97298710654f1692f6e8364f82/tensorflow/python/keras/layers/convolutional.py#L839
Bias should have shape `(M)` (say feature maps or filters)

[2018-10-21 11:58] talc23 commented on #297
I'll open an issue over ONNX repo.

[2018-10-21 12:01] fumihwh commented on #297
@talc23
Already opened.

[2018-10-21 12:05] talc23 commented on #297
I'll close mine

[2018-10-22 02:09] wangyunxiaa commented on #293
@fumihwh Thank you very much,
It is not just (inputs,lens) of the actual inputs for the model, in fact the inputs are as followings:
`data, target, length = process_data(data_batch, cuda=True, sep_target=False)
            loss= model(data, length.cuda())`
when I do a fake input to the model,I was not do the "process_data" function, just feed another input like the data_type of the "process_data"

[2018-10-22 03:10] wangyunxiaa commented on #293
@fumihwh Thank you very much.
My model's inputs are really not (inputs, lens),There is another process of the raw input as following:
`data, target, length = process_data(data_batch, cuda=True, sep_target=False)
            loss= model(data, length.cuda())`
the process_data function used to transform the input text to word_id and the length of the text after word-split from the dictionary, I just

[2018-10-22 04:00] wangyunxiaa commented on #293
I am confused that, what is the difference between the input of model and the arguments for method forward? the original input of text is processed by "process_data" and converted to word_id and the length of the text:
`data, target, length = process_data(data_batch, cuda=True, sep_target=False)
            loss= model(data, length.cuda())`
If I just feed the forward with `(inputs = torch.LongTens

[2018-10-22 11:04] siddas27 opened #299 "Conversion from TF to ONNX stops, throwing KeyError 20"
I am trying to convert tensorflow model for to ONNX using .ckpt file with CLI. But after the variables are converted to const it stops, throwing following KeyError :20
[code]

**Python, ONNX, ONNX-TF, Tensorflow version**

This section can be obtained by running `get_version.py` from util folder.
 - Python version: 3.6.6 (default, Sep 12 2018, 18:26:19)
[GCC 8.0.1 20180414 (experimental) [trunk re

[2018-10-22 19:35] vibhuagrawal14 commented on #271
Hey. Sorry for the late reply. I tried the changes you suggested and the performance improved considerably. I am down from ~300 seconds to ~50 seconds. This is still 10x slower than what I get in MATLAB (4-5 seconds) but I think I can manage. Do you have any more ideas about further improving the performance?

[2018-10-22 22:40] fumihwh commented on #299
@siddas27 Did you install onnx-tf by `pip install onnx-tf` or from source? If is the former, could you try install from source by `pip install .`?

[2018-10-23 00:18] fumihwh commented on #291
@blagodurov Which did you use, `init_net.pb` or `predict_net.pb`? I saw lots of `Assign` nodes in graph. Maybe you use `init_net.pb`?
Could you try `predict_net.pb`?

[2018-10-23 01:05] fumihwh commented on #271
@vibhuagrawal14
Current you use batch size 1: `float[1,5,224,224]`, with is inefficient for tf.
If you can increase batch size, the performance should be better.

ref: https://arxiv.org/pdf/1605.07678.pdf
`Figure 3: Inference time vs. batch size.`

[2018-10-23 03:06] peteryang1 commented on #289
you do solved my problem, but for speed reasons, it's not a very good way. But I do appreciate your help. tks a lot!

[2018-10-23 03:06] #289 closed

[2018-10-23 03:52] tjingrant commented on #289
@peteryang1 speed will not be a problem because eliminating redundant transpositions are one of the things ONNX optimizers are designed to do.

[2018-10-23 06:15] wangyunxiaa commented on #293
@fumihwh
Thanks,
I have a try and found that,it is because there has another process in my code `lang_model.eval()`
when I delete the line of the code, Variable and LongTensor input all can work, and the input is correct in the onnx's graph(if added the line,Variable also cannot).
May be I should not use the line of code, it changed the model to test mode.

[2018-10-23 09:06] wangyunxiaa commented on #293
@fumihwh
Hi, I have another question:
I am confused that the pre-trained pytorch model's forward function does not have parameter of lstm state, however in tensorflow the state should be feed to the net,when I do the convert how does onnx deal with this problem,and my lstm layer cause an error:
`ValueError: Shape must be rank 1 but is rank 2 for 'concat_10' (op: 'ConcatV2') with input shapes: [800

[2018-10-23 13:54] peteryang1 commented on #289
I think the transpose node you added to the graph is not redundant, it will be a node wihch the refenrence should deal with. And dealing with a transpose node is very time-consuming .
But I didn't find a more efficent way to solve it, considering your function is the only generous way, let's make it a solution.
still tks!

[2018-10-23 23:59] fumihwh commented on #293
@wangyunxiaa
In tf, you could not feed states, they will be set to 0.

[2018-10-24 00:19] fumihwh commented on #291
@blagodurov Thanks~
I am confused about your purpose.
Do you want to do Caffe2 -> Tensorflow -> ONNX? If true, why don't you try Caffe2 -> ONNX?

Maybe you have your own reason, so the pb here https://www.dropbox.com/s/5tbabr6du5kc61v/bvlc_googlenet.pb?dl=0 is converted by mmdnn?

[2018-10-24 01:28] wangyunxiaa commented on #293
@fumihwh
Thanks,
In this way, the tf model can only process one all sequence at a time，so the numstep parameter is undefined, does it mean that the input shape of tf model is [1, -1, dim]  which correspond with (batch-size, num-step,feature-dim) ?

[2018-10-24 01:57] wangyunxiaa commented on #293
the pytorch model's parameter are as followings:
`encoder.weight torch.Size([10001, 200])
rnn.weight_ih_l0 torch.Size([800, 200])
rnn.weight_hh_l0 torch.Size([800, 200])
rnn.bias_ih_l0 torch.Size([800])
rnn.bias_hh_l0 torch.Size([800])
projection.weight torch.Size([200, 200])
criterion.bias torch.Size([10001])
criterion.noise torch.Size([10001])
criterion.emb.weight torch.Size([10001, 200])
`
the

[2018-10-24 11:41] wangyunxiaa opened #300 "change one dimetion of the onnx model's input to ? cause an error "ValueError: Input size (depth of inputs) must be accessible via shape inference, but saw value None.""
The original input shape is (10,1,1000) correspond to (num_step, batchsize,dim)
After convert the pytorch model to onnx,  I just do the modify as following:
`onnx_model.graph.input[0].type.tensor_type.shape.dim[0].dim_param = '?'`
in order to support the dynamic input.
But when i do `tf_rep = prepare(onnx_model, device="cpu")`
to import onnx model to tf, I get an error
`ValueError: Input size (dep

[2018-10-24 12:06] fumihwh commented on #300
@wangyunxiaa
LSTM doesn't have `Reshape` node. Maybe You do reshape before pass to LSTM.
I assume if you reshape a Tensor with dynamic dim, all dims of reshape output would be dynamic.
onnx-tf will only change corresponding dim if you see the source at `backend.py` L106
[code]

[2018-10-24 12:16] fumihwh commented on #293
@wangyunxiaa
We do not know every thing about your task.
The error log doesn't show there is any converting bug in onnx-tf.
If you think this is a bug, please give more details.
For example, `concat_10`'s inputs names. And then check whether match their shapes in onnx graph.

[2018-10-25 01:53] Remember2018 commented on #167
Hi, I have the same problem. I use tensorflow to export the model `tf.saved_model`. But in the graph, some operations were built based on the `tf.pyfunc`. When I load the exported graph, and execute the graph with the given inputs, the same errors occured. The error message is:

        ValueError: callback pyfunc_1 is not found

[2018-10-25 03:10] tjingrant commented on #167
@Remember2018 please at least upload your model in question somewhere so we can have something to work with. Ideally, you should create a new issue following the issue template so that we can gather around the necessary information like your onnx, onnx-tf version number.

@ehsab you will get a lot more meaningful answer if you upload your model in question and your evaluation script.

[2018-10-25 14:39] charlesrwest opened #302 "Where is onnx-tf?"
I'm terribly sorry, this seems like a really stupid question but...

Where is onnx-tf?
I used pip to install and it didn't show up as a command.  I manually installed from the latest stable and it didn't show up and file searches of the project don't show it.

If I may ask, how do I get the basic convert command to work?  What am I missing?

[2018-10-25 15:19] fumihwh commented on #302
@charlesrwest
Sorry for that. We didn't update PyPI yet.
Please install from source at present.
`pip install .`

[2018-10-25 16:16] charlesrwest commented on #302
Thank you for the help.  I just ran that command but it still isn't showing up.

Also, running the following doesn't show that file anywhere in my system:
find / -name "*onnx-tf*" 2>/dev/null

[2018-10-25 17:58] #269 closed

[2018-10-25 18:05] tjingrant commented on #302
@charlesrwest , as @fumihwh pointed out, what you need is development installation since this feature is very new.

The complete documentation is here: https://github.com/onnx/onnx-tensorflow#installation . You can double-check your steps.

To check whether you have the right version of onnx-tf with the command line functionality, check your setup.py to see whether the console script installation

[2018-10-25 18:06] tjingrant commented on #299
@siddas27 also do you mind sharing your model with us so we can do a test locally to re-produce your error?

[2018-10-25 18:20] siddas27 commented on #299
@fumihwh yeah, I have installed from source only. @tjingrant faster rcnn inception v2 model.

[2018-10-25 18:47] charlesrwest commented on #302
Thank you both for your help.  Everything went as expected once I changed to the latest (rather than the most recent stable).

My apologies for the trouble.  I had not realized the command line tool was a new feature.

Thanks again,
Charlie

[2018-10-25 18:47] #302 closed

[2018-10-26 19:17] namanmaheshwari opened #304 "Unable to install onnx-tf"
I am getting the following error while trying to install onnx-tf (sudo git clone git@github.com:onnx/onnx-tensorflow.git) -

**_Cloning into 'onnx-tensorflow'...
git@github.com: Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists._**

Please help me resolve this asap. Thank you.

[2018-10-26 19:53] tjingrant commented on #304
@namanmaheshwari looks like your ssh is wrongly configured.

You can fix your ssh or try using HTTPS to clone the repository:
`git clone https://github.com/onnx/onnx-tensorflow.git`

BTW, no need to use sudo for git (unless you have permission issue with writing the current directory).

[2018-10-26 20:05] namanmaheshwari commented on #304
Great, I'm able to install it now. Thanks!

[2018-10-26 20:05] #304 closed

[2018-10-29 14:13] fancyerii commented on #38
I can use this api to export graph, But to use it in tensorflow serving, we need use SavedModel API to save the model and the signature.

[2018-10-30 05:34] fumihwh commented on #38
@fancyerii
Maybe this could help? https://stackoverflow.com/questions/44329185/convert-a-graph-proto-pb-pbtxt-to-a-savedmodel-for-use-in-tensorflow-serving-o

[2018-10-31 05:52] peteryang1 opened #306 "get wrong onnx node while converting DepthwiseConv2dNative node"
While I am converting the mobilenet from tensorflow to onnx, the DepthwiseConv2dNative node seems not correctly converted.

I have a DepthwiseConv2dNative  node which input 0 is a tensor has shape 2\*4\*4\*3 (NHWC), the kernel is a tensor has shape 3\*3\*3\*2 (HWCCm). In tensorflow, I get a output of shape 2\*2\*2\*6 (NHWC) which is right in tensorflow. the model is shown in the photo bolow (Only

[2018-10-31 06:58] #306 closed

[2018-11-01 17:26] tjingrant opened #308 "Upload to pip"
Since today is 1st Nov, we'll perform our periodic upload to pypi, will take place within a day.

cc @fumihwh @chinhuang007 @winnietsang

[2018-11-02 10:01] mlinxiang opened #310 "pytorch data type is "NCHW" but tensorflow data type is "NHWC", when pytorch to onnx, and onnx to tensorflow how this diff process?"
i export a pytorch model to onnx, and export onnx model to tensorflow pb.  i find that pytorch use "NCHW" but tensorflow use "NHWC" order， when i use tensorflow quantization the converted pb， the channl has not match problem。 so， is there any config or other additional process?

[2018-11-02 18:20] fumihwh commented on #310
@mlinxiang
In onnx-tf, we also consider about data format. Not perfect yet.
Please add more details. Which model do you try to convert?

[2018-11-05 01:48] mlinxiang commented on #310
@fumihwh the model is not very common, this is the model <project<[https://github.com/lixx2938/MegaDepth](url)> , which i convert to tensorflow success, but the performance is very low even though is model size is only 20M。so i try to quantization the convert tf model,  the model convert success, but load has follow size match problem, which is very likely cause by "NHWC" and "NCHW" order differen

[2018-11-05 13:10] fumihwh commented on #310
@mlinxiang
1. Log is not helpful. No trace of onnx-tf. In another word, from your log, we can't find any error onnx-tf occurs. (Only tensorflow gets angry.)
2. We can't check your model from scratch. If can, please provide converted pb file.

[2018-11-05 13:13] fumihwh commented on #299
@siddas27
`KeyError 20` problem has been fixed.

[2018-11-05 13:13] #293 closed

[2018-11-05 13:14] fumihwh commented on #293
@wangyunxiaa
If you still have problem, feel free to reopen this.

[2018-11-05 13:14] #300 closed

[2018-11-07 01:30] Suhail opened #317 "Is there a way to save your model as a Keras .h5 file?"
Background - I am following this tutorial: https://github.com/onnx/tutorials/blob/master/tutorials/PytorchTensorflowMnist.ipynb

Is there a way to save the model after you load it to a Keras .h5 file?

[2018-11-07 02:39] tjingrant commented on #317
It's not going to be easy. You are essentially asking, can you save a tensorflow graph as a .5 file.

Searching around lands me here https://github.com/keras-team/keras/issues/5273 .

[2018-11-07 10:54] YijiaZhao commented on #167
@tjingrant I meet the same problem, this is my onnx

https://pan.baidu.com/s/14ANGpPOReiuCY29t-5AawA

 this my code:

import onnx
import numpy as np
from onnx_tf.backend import prepare
import os
import cv2
os.environ["CUDA_DEVICE_ORDER"]="PCI_BUS_ID"
os.environ["CUDA_VISIBLE_DEVICES"]="0"
img_name = '/ws/pix2pix-tensorflow/mimi/val/181016-101445-000096_1.jpg'
inputs_img = cv2.imread(img_name)
inpu

[2018-11-08 15:17] bluemonk482 commented on #233
@fumihwh Thanks Wenhao! I tried without adding `opset` but I got the error below and I am sure what is going on here:

[code]

[2018-11-10 00:45] vibhuagrawal14 opened #319 "Problem importing LSTM model"
I have an LSTM model built in MATLAB which I am trying to import with onnx_tf, but it is failing. I am really unsure of what I can do to solve it.

**To Reproduce**

Attaching code here:

[code]
**Traceback**
[code]
**ONNX model file**

**Attached here**: https://drive.google.com/open?id=18ybirQQ2Xzw2OEE49RTOzhEZuH5VGAJN

 - Python version: 3.6.5
 - ONNX version: 1.3.0
 - ONNX-TF version: 1.2.0
 -

[2018-11-10 00:45] #271 closed

[2018-11-10 14:41] bluemonk482 commented on #233
Thanks @fumihwh ! I have installed `onnx` and `onnx-tf` both from source. However now I am getting assertionError :

[code]

[2018-11-11 15:34] fumihwh commented on #319
@vibhuagrawal14
From [doc](https://github.com/onnx/onnx/blob/master/docs/Operators.md#inputs-3---8), `LSTM` op has 3 positional and 5 optional args.
[code]
In your graph, node has following inputs. `biLSTM_1_initial_h` and `biLSTM_1_initial_c` are not in correct position.
![image](https://user-images.githubusercontent.com/6838753/48314819-79ad4b00-e612-11e8-9b4e-ecdea6b57581.png)

I suggest you to

[2018-11-12 16:20] fumihwh opened #321 "onnx.onnx_cpp2py_export.checker.ValidationError: No Schema registered for Compress with domain_version of 4"
**Describe the bug**

`onnx.onnx_cpp2py_export.checker.ValidationError: No Schema registered for Compress with domain_version of 4`

**To Reproduce**

CI for released onnx fails.

[2018-11-12 17:18] tjingrant commented on #321
This really feels like the fault of ONNX. But let me remove the test case from onnx backend test when the ONNX version is too low.

[2018-11-12 18:33] Nimitz14 commented on #268
After converting a model from pytorch to onnx which is just a linear layer + relu and another linear layer + softmax I get
[code]
It says it converted successfully.. so I'm unsure whether I should care about the warnings or not?

[2018-11-12 18:56] tjingrant commented on #233
@bluemonk482 we did not implement full support for strided slice because:

1. Implementing full support for strided slice is difficult and
2. We didn't see a good use case for strided slice beyond what is currently supported.

So if you can share your model/application scenario with us, we can decide whether we should add more support for strided slice.

[2018-11-12 19:15] vibhuagrawal14 commented on #319
I understand. This seems to be a problem with how MATLAB is exporting into the onnx format. Is there a way to edit onnx models and change the inputs to what they should be? What else do you suggest can be done?

[2018-11-12 20:35] chinhuang007 commented on #321
@tjingrant Thanks for the fix. I need to pay more attention to CI. I somehow tend to ignore the CI status after a push since it always fails. Is there a way to separate the status between the latest and release in CI so it is clearer for contributors and reviewers? We seem to ignore the status for the latest anyway during approval and merge.

[2018-11-13 07:18] tjingrant commented on #167
@YijiaZhao try the non strict mode of prepare:
`
tf_backend.prepare(model, strict=False)
`
Full doc here https://github.com/onnx/onnx-tensorflow/blob/master/doc/API.md#onnx_tfbackendprepare

[2018-11-13 18:45] tjingrant commented on #317
Feel free to re-open this issue if you think there's anything we can help more. If not, I think this issue is not relevant to onnx-tf.

[2018-11-13 18:45] #317 closed

[2018-11-13 19:58] utkarsh-VRL opened #323 "float type mismatch"
**Describe the bug**

Converting an ONNX model to tensorflow.

This was how I converted it from MXNet to ONNX:
`converted_model_path = onnx_mxnet.export_model(sym, params, [input_shape], np.float32, onnx_file)`
When I try to import it into tensorflow:
[code]
I get these errors:
[code]

Similar errors occur if I use np.float64 when creating the ONNX model file.
Any ideas what is happening here and

[2018-11-13 22:02] tjingrant opened #324 "Missing py2, 3 compatibility imports in CLI interfaces"
@fumihwh we are missing py2, 3 compatibility related imports in cli related files.

e.g. https://github.com/onnx/onnx-tensorflow/blob/master/onnx_tf/converter.py

There's no
[code]

Is this intentional? maybe we should update them.

[2018-11-14 14:52] fumihwh commented on #268
@Nimitz14 No, you don't. We should make warnings more user friendly.

[2018-11-14 14:54] fumihwh commented on #319
@vibhuagrawal14 Figure out how does MATLAB export first would be better.

[2018-11-14 14:58] fumihwh commented on #324
I am not sure if there is no problem when calling cli in both python 2 and 3 environments, do we still need to add `__future__`?

[2018-11-14 15:11] fumihwh commented on #323
![image](https://user-images.githubusercontent.com/6838753/48491251-77ddc480-e86a-11e8-801f-5c21ee4901ee.png)
@utkarsh-VRL
Your onnx pb file is incorrect.
For `Sub` op, inputs A has dtype `float32` although B has dtype `float64`. They should have same dtype.
I am not sure why this happens, may be the problem occurs when converting from MXNet to ONNX.

[2018-11-17 01:00] tjingrant commented on #321
Fixed, closing.

[2018-11-17 01:00] #321 closed

[2018-11-19 17:31] samgd opened #327 "Bidir LSTM `activations` attribute is optional"
**Describe the bug**

The ONNX [LSTM operator](https://github.com/onnx/onnx/blob/master/docs/Operators.md#attributes-26) states that the `activations` attribute is optional. The [LSTM backend implemenation](https://github.com/tengyifei/onnx-tensorflow/blob/dfc6f01fcb6aa2a967de4e5edc9371818af1fc1a/onnx_tf/handlers/backend/lstm.py#L13) relies on this property being present when using a bidirectional

[2018-11-20 01:35] yjcn opened #328 "NotImplementedError: StridedSlice version 1 is not implemented."
While I try to export a tensorflow model  to onnx based on the suggestions in page:
https://github.com/onnx/tutorials/blob/master/tutorials/OnnxTensorflowExport.ipynb I use `onnx-tf convert -t onnx -i textdetection.pb -o txtd.onnx` However there is an error `NotImplementedError: StridedSlice version 1 is not implemented.` And I install onnx-tf from source
![image](https://user-images.githubusercon

[2018-11-20 01:37] tjingrant commented on #328
Would you care to share your tf model with us?

[2018-11-20 02:11] tjingrant commented on #328
One other piece of information that would be helpful to us is your onnx version. You can run this script for us to collect version information about your working environment : https://github.com/onnx/onnx-tensorflow/blob/master/util/get_version.py .

StridedSlice is implemented, but it is implemented for version  7 and onward. So somehow your version of onnx-tf was restricted to use a low opset or

[2018-11-20 02:17] yjcn commented on #328
Of course, This is my tf [model](https://drive.google.com/file/d/1f08WHGXoMxAAUv6Qtw_wLEndDc9jy2z5/view?usp=sharing).
The output node name is "feature_fusion/Conv_7/Sigmoid" and "feature_fusion/concat_3", the input node name is "input_images"
This is the version info.
[code]

[2018-11-20 04:56] tjingrant commented on #328
Hi @yjcn thanks for your response, so it turns out that to support strided slice, we used an experimental onnx op (DynamicSlice), which requires you to install onnx from source as well. You must have installed a release version of onnx (likely you used pip install).

I also ran our model checker on your model and here's the result:
[code]

Some work is required, but definitely very promising to ge

[2018-11-20 06:32] yjcn commented on #328
@tjingrant The ResizeBilinear op is from [tf.image.resize_bilinear](https://www.tensorflow.org/api_docs/python/tf/image/resize_bilinear).And I use it to accomplish the Unpooling op.
![image](https://user-images.githubusercontent.com/8858803/48755666-13d75800-ecd1-11e8-900f-1abee26e6660.png)

[2018-11-20 06:36] tjingrant commented on #328
@yjcn sounds like we could map it to onnx Upsample op. I'll get back to you tomorrow, possibly with a patch to do so.

[2018-11-21 03:36] luzengxiang opened #329 "How to implement new operator at backend."
- update ONNX_OP_TO_TF_OP in common.py
where is I could not find common.py in this project

[2018-11-21 10:54] nnmm opened #330 "prepare function ignoring device, always using GPU"
**Describe the bug**

onnx_tf allocates a lot of memory on the GPU (two GPUs, actually) in the `prepare` function despite the `device='CPU'` parameter being present. This leads to out of memory crashes. It is also very slow.

**To Reproduce**
Download resnet50 from the model zoo and unpack into /tmp.
[code]
The primary GPU now has memory usage of 7705MiB and the secondary of 4573MiB.

**Python, ON

[2018-11-21 21:14] nnmm commented on #330
I tried that, but curiously, it didn't change anything.

On Wed, Nov 21, 2018, 18:23 Tian Jin <notifications@github.com wrote:

[2018-11-22 02:35] tjingrant commented on #329
Hi @luzengxiang , take a look at this patch supporting new ops in our backend for an example: https://github.com/onnx/onnx-tensorflow/pull/314/files

We moved to use python decorators to specify ONNX_OP_TO_TF_OP mapping.

[2018-11-22 02:50] tjingrant commented on #330
@nnmm

I tried
`CUDA_VISIBLE_DEVICES= python inference_test.py`

and it works for me.

Another thing to try from this post comment https://github.com/tensorflow/tensorflow/issues/2175#issuecomment-215977173

Run this before running your python command (in the same shell prompt).
`export CUDA_VISIBLE_DEVICES=`

Are you on Windows?
I see this related issue (https://github.com/tensorflow/tensorflow/i